<div id="left">
  <div class="element mainelement container">
    <div class="element mainelement menu">
      <ul>
        <li id="node7" class="{% if active_tab == 'left_tab1' %} active{% endif %}">
          <div class="element menuepunkte">
            <a href="unternehmensprofil.html">Unternehmensprofil</a>
          </div>
        </li>

        <li id="node11" class="{% if active_tab == 'left_tab2' %} active{% endif %}">
          <div class="element menuepunkte">
            <a href="leitbild.html">Leitbild</a>
          </div>
        </li>

        <li id="node8" class="{% if active_tab == 'left_tab3' %} active{% endif %}">
          <div class="element menuepunkte">
            <a href="standorte.html">Standorte</a>
          </div>
        </li>

        <li id="node13" class="{% if active_tab == 'left_tab4' %} active{% endif %}">
          <div class="element menuepunkte">
            <a href="kontakt.html">Kontakt</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
