      <ul>
        <li id="node3" >
          <div class="element menuepunkte {% if active_tab == 'left_tab1' %} active{% endif %}">
            <a href=
            "bewerber_zeitarbeit.html">Arbeitnehmerüberlassung</a>
          </div>

          <ul>
            <li id="node47" >
              <div class="element menuepunkte {% if active_tab == 'left_tab2' %} active{% endif %}">
                <a href=
                "bewerber_zeitarbeit_vorteile.html">
                Ihre Vorteile</a>
              </div>
            </li>

            <li id="node70" >
              <div class="element menuepunkte {% if active_tab == 'left_tab3' %} active{% endif %}">
                <a href=
                "bewerber_zeitarbeit_berufsfelder.html">
                Berufsfelder</a>
              </div>
            </li>

            <li id="node71" >
              <div class="element menuepunkte {% if active_tab == 'left_tab4' %} active{% endif %}">
                <a href=
                "bewerber_zeitarbeit_ansprechpartner.html">
                Ansprechpartner</a>
              </div>
            </li>

            <li id="node72" >
              <div class="element menuepunkte {% if active_tab == 'left_tab5' %} active{% endif %}">
                <a href=
                "stellenmarkt-P_fBereich_3.html">Stellenmarkt
                AÜ</a>
              </div>
            </li>
          </ul>
        </li>

        <li id="node56" >
          <div class="element menuepunkte {% if active_tab == 'left_tab6' %} active{% endif %}">
            <a href=
            "bewerber_personalvermittlung.html"
            >Personalvermittlung</a>
          </div>

          <ul>
            <li id="node21" >
              <div class="element menuepunkte {% if active_tab == 'left_tab7' %} active{% endif %}">
                <a href=
                "bewerber_personalvermittlung_vorteile.html">
                Ihre Vorteile</a>
              </div>
            </li>

            <li id="node23" >
              <div class="element menuepunkte {% if active_tab == 'left_tab8' %} active{% endif %}">
                <a href=
                "bewerber_personalvermittlung_berufsfelder.html">
                Berufsfelder</a>
              </div>
            </li>

            <li id="node69" >
              <div class="element menuepunkte {% if active_tab == 'left_tab9' %} active{% endif %}">
                <a href=
                "bewerber_personalvermittlung_ansprechpartner.html">
                Ansprechpartner</a>
              </div>
            </li>

            <li id="node80" >
              <div class="element menuepunkte {% if active_tab == 'left_tab10' %} active{% endif %}">
                <a href=
                "stellenmarkt-P_fBereich_2.html">Stellenmarkt
                PV</a>
              </div>
            </li>
          </ul>

        </li>

        <li id="node55" >
          <div class="element menuepunkte {% if active_tab == 'left_tab11' %} active{% endif %}">
            <a href=
            "bewerber_arbeitsvermittlung.html"
            class="active">Arbeitsvermittlung</a>
          </div>

          <ul>
            <li id="node58" >
              <div class="element menuepunkte {% if active_tab == 'left_tab12' %} active{% endif %}">
                <a href=
                "bewerber_arbeitsvermittlung_vorteile.html">
                Ihre Vorteile</a>
              </div>
            </li>

            <li id="node68" >
              <div class="element menuepunkte {% if active_tab == 'left_tab13' %} active{% endif %}">
                <a href=
                "bewerber_arbeitsvermittlung_berufsfelder.html">
                Berufsfelder</a>
              </div>
            </li>

            <li id="node84" >
              <div class="element menuepunkte {% if active_tab == 'left_tab14' %} active{% endif %}">
                <a href=
                "bewerber_arbeitsvermittlung_antworten.html">
                Fragen und Antworten</a>
              </div>
            </li>

            <li id="node85" >
              <div class="element menuepunkte {% if active_tab == 'left_tab15' %} active{% endif %}">
                <a href=
                "bewerber_arbeitsvermittlung_ansprechpartner.html">
                Ansprechpartner</a>
              </div>
            </li>

            <li id="node86" >
              <div class="element menuepunkte {% if active_tab == 'left_tab16' %} active{% endif %}">
                <a href=
                "stellenmarkt-P_fBereich_1.html">Stellenmarkt
                AV</a>
              </div>
            </li>
          </ul>


        </li>

        <li id="node24" >
          <div class="element menuepunkt {% if active_tab == 'left_tab17' %} active{% endif %}">
            <a href=
            "karriereberatung.html">Karriereberatung</a>
          </div>
        </li>

        <li id="node25" >
          <div class="element menuepunkte {% if active_tab == 'left_tab18' %} active{% endif %}">
            <a href=
            "stellenmarkt.html">Stellenmarkt</a>
          </div>
        </li>

        <li id="node42" >
          <div class="element menuepunkte {% if active_tab == 'left_tab19' %} active{% endif %}">
            <a href=
            "karriere_activjob.html">Karriere bei activjob</a>
          </div>
        </li>
      </ul>
