<nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> {# <a class="navbar-brand" href="#">activ-job.</a> #}
        </div>

        <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                        <li class="{% if active_tab == 'tab1' %} active{% endif %}"><a class="glyphicon glyphicon-home" href="/"></a></li>
                        <li class="{% if active_tab == 'tab2' %} active{% endif %}"><a href="unternehmensprofil">ÜBER UNS</a></li>
                        <li class="{% if active_tab == 'tab3' %} active{% endif %}"><a href="unternehmen">UNTERNEHMEN</a></li>
                        <li class="{% if active_tab == 'tab4' %} active{% endif %}"><a href="bewerber">BEWERBER</a></li>
                </ul>
        </div>
</nav>
