{% load static %}

<div class="topcontent">
  <div class="element inhalt">
    <p><a href="kontakt.html">Kontakt</a> | <a href=
    "sitemap.html">Sitemap</a> | <a href=
    "impressum.html">Impressum</a></p>
  </div>
</div>
<div class="logo">
  <a href="index.html"><img src={% static 'css/images/logo.gif' %} alt=
  "activjob Logo" /></a>
</div>
<div class"menu">
  {% include "web/nav/nav.html" %}
</div>
<div class="headcontent">
  {% include "web/header/banner/banner.html" %}
  <!-- load banner + quicksearch -->
</div>
