<ul>
<li class="element menuepunkte active">
  <div>
      <a href="#">Lorem</a>
  </div>
  <ul>
    <li class="element menuepunkte active">
      <div>
          <a href="#">Ipsum</a>
      </div>
    </li>
    <li class="element menuepunkte">
      <div>
          <a href="#">Larum</a>
      </div>
    </li>
  </ul>
</li>
<li class="element menuepunkte">
  <div>
      <a href="#">Ipsum</a>
  </div>
</li>
  <li class="element menuepunkte">
    <div>
        <a href="#">Larum</a>
    </div>
  </li>
</ul>
