{% extends "base.html" %}

{% block title %}Referenzen, Personalberatung für IT, Telekommunikation,
    Technologie, Bau, Consulting, Pharma, Medizin{{ block.super }}{% endblock %}

{% block right_content %}
    <h1>Referenzen. Erfahrung und Kompetenz.</h1>

    <p>Unsere Beratungsmandate sind vertraulich.
    Einzelheiten können nur in Ausnahmefällen und auf
    Anfrage genannt werden. Wir bitten Sie um
    Verständnis.</p>

    <p>Nachfolgend finden Sie eine Auswahl von
    Projekten, die wir erfolgreich abgeschlossen
    haben.</p>

    {% for category in referencecategory_list %}
    <h3>{{ category }}</h3>
    <ul>
        {% for reference in category.reference_set.all %}
        <li>{{ reference }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
{% endblock %}
