{% extends "base.html" %}
{% load static %}

{% block title %}{{ job }}, {{ job.location }}{{ block.super }}{% endblock %}

{% block middle_col %}
    <div>
        <h1 id="job_name">{{ job }}   </h1>

        <dl id="job_base_details">
            <dt>Arbeitsort: <small>{{ job.location }}</small></dt>
            <dt>Kennziffer: <small>{{ job.id }}</small></dt>
        </dl>


        <h4>Unternehmen</h4>

        <div> {{ job.company.description|safe }} </div>


        <h4>Ihre Aufgaben</h4>

        <div> {{ job.description|safe }} </div>


        <h4>Ihr Profil</h4>

        <div> {{ job.profile|safe }} </div>


        <h4>Ihre Perspektive</h4>

        <div> {{ job.perspective|safe }} </div>

        <div class="link_return" >
            <a  href="{% url 'stellenmarkt' %}">neue Suche</a>
        </div>
    </div>
{% endblock %}

{% block right_col %}
    <div id="job_contact" class="row">
        <div>
          <h2 class="col-xs-12">Ansprechpartner</h2>
        </div>

        <div id="contact_name">
          <h4 class="col-xs-12">{{ job.contact }}</h4>

        </div>


        <div id="contact_mail" >
          <strong class="col-xs-4">E-Mail:</strong>
            <a class="col-xs-8" href="mailto:{{ job.contact.mail }}">
{{ job.contact.mail }}</a>
        </div>

        <div id="contact_phone" >
          <strong class="col-xs-4">Telefon:</strong>
            <a class="col-xs-8" href="tel:{{ job.contact.phone|cut:" " }}">
{{ job.contact.phone }}</a>
        </div>

        <div id="contact_image" >
          <img class="col-xs-12" alt="{{ job.contact }}"
          src="{{job.contact.imageurl}}" />
        </div>

        <div id="contact_adress" >
          <p class="col-xs-12">
            activjob GmbH
            <br />
            {{ job.contact.standort.street }}
            <br />
            {{ job.contact.standort.city }}
          </p>
        </div>
    </div>
{% endblock %}
