{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block title %}Personalberater, Dresden, Hamburg, München, Köln,
  Frankfurt, Berlin{{ block.super }}{% endblock %}

{% block meta %}
    {{ block.super }}
    {# TODO: jqueryui js #}
    <link
        rel="stylesheet"
        href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"
    >
{% endblock meta %}

{% block right_content %}
    <h1>Unsere Berater</h1>

    <div id="berater">

    {% for berater in berater_list %}
        <h3>{{ berater }}</h3>
        <div class="row berater_description">
            <div class="full_body_image col-md-4 col-md-push-8 hidden-sm hidden-xs">
                  <img
                    alt=""
                    class="img-responsive center-block"
                    src="{% static 'jobs/Ansprechpartner_full_body/' %}{{ berater.img }}"
                  >
            </div>

            <div class="col-md-4 col-md-push-8 visible-sm visible-xs">
                  <img
                    alt=""
                    class="img-responsive center-block"
                    src="{% static 'jobs/Ansprechpartner/' %}{{ berater.img }}"
                  >
            </div>

            <div class="col-md-8 col-md-pull-4">
                  <p><strong>{{ berater.title }}</strong></p>

                  <p><em>{{ berater.function }}</em></p>

                  <p>
                    <a href="tel:{{ berater.phone|cut:" " }}">
                      {% bootstrap_icon "phone" %}
                      {{ berater.phone }}
                    </a><br>

                    <a href="mailto:{{ berater.mail }}">
                        {% bootstrap_icon "envelope" %}
                        {{ berater.mail }}
                    </a>
                  </p>

                  <div>{{ berater.description|safe }}</div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock right_content %}

{% block end_js %}
    {{ block.super }}
      <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <script>
      $(function() {
        $( "#berater" ).accordion({
            active: {{ active_contact|default:"false" }},
            collapsible: true,
            icons: {
                "activeHeader": "ui-icon-carat-1-s",
                "header": "ui-icon-carat-1-e",
            },
        });
      });
      </script>
{% endblock end_js %}
