{% extends "base.html" %}

{% block title %}Eliten eröffnen Perspektiven, gestalten Zukunft und
    überschreiten Grenzen.{{ block.super }}{% endblock %}

{% block right_content %}
   <h1>Perspektiven erkennen. Zukunft gestalten.</h1>

    <p>Eliten eröffnen Perspektiven, gestalten Zukunft
    und überschreiten Grenzen.<br>
    Unser Ziel ist es, durch professionelle Arbeit
    unseren Kunden die Elite unter den Fach- und
    Führungskräften zu vermitteln. Mit Kandidaten, die
    wir aufgrund ihrer Qualifikation als die besten
    erachten, führen wir ausführliche Interviews durch.
    Wir denken stets branchenübergreifend und richten
    unseren Suchprozess auch international aus.</p>

    <p>Als qualitätsorientierte Spezialisten streben
    wir eine langfristige Partnerschaft mit unseren
    Kunden an. Im persönlichen Kontakt lernen wir Sie
    und Ihr Unternehmen kennen. Wir empfehlen ein
    Gespräch in den Räumlichkeiten der Unternehmung, um
    speziell auf Ihre individuellen Anforderungen
    eingehen zu können.</p>

    <p>Vertrauen, Transparenz und absolute Diskretion
    sind für uns Voraussetzungen für eine
    partnerschaftliche Zusammenarbeit mit Kunden und
    Kandidaten.</p>
{% endblock right_content %}
