{% extends "base.html" %}

{% block title %}Personalberatung, Suche und Auswahl von Führungskräften
    und Spezialisten{{ block.super }}{% endblock %}

{% block right_content %}
    <h1>Erstklassige Positionen. Exzellente Kandidaten.</h1>

    <p>Wir suchen Fach- und Führungskräfte mit der
    Methode der Direktansprache.</p>

    <p>In einem intensiven Gespräch lernen wir Ihr
    Unternehmen und das genaue Anforderungsprofil der
    zu besetzenden Position kennen. Auf dieser Basis
    erarbeiten wir eine Liste von Unternehmen, in denen
    potenzielle Kandidaten tätig sind.</p>

    <p>Primär sprechen wir die Personen in den
    relevanten Positionen gezielt auf die offene Vakanz
    an, zunächst ohne den Auftraggeber zu nennen. Bei
    positivem Feedback erfolgt ein erstes ausführliches
    Gespräch. Darüber hinaus nutzen wir bei der
    Identifizierung potenzieller Kandidaten unsere
    Kompetenz im Bereich Social Media Recruiting,
    recherchieren in Online-Datenbanken und in
    unserem internen Kandidaten-Pool. Auf Wunsch
    schalten wir Anzeigen in allen gängigen Print- und
    Onlinemedien.</p>

    <p>Mit qualifizierten und interessierten Kandidaten
    führen wir den Auswahlprozess in mehreren
    Interviews weiter. Unsere Aufgabe ist es,
    potenziellen Kandidaten frühzeitig aufzuzeigen,
    welche Chancen und Herausforderungen eine Position
    bietet. Wir verstehen uns in dieser Projektphase
    als Partner für unseren Mandanten, der aktiv die
    Stärken der Arbeitgebermarke kommuniziert.</p>

    <p>Anhand der gewonnenen Informationen erstellen
    wir über die besten Kandidaten einen detaillierten
    Bericht. Neben einer fachlichen und persönlichen
    Bewertung des Beraters enthält dieser ebenfalls den
    Lebenslauf und die Zeugnisse des Kandidaten. Auf
    Wunsch begleiten wir anschließend die
    Auswahlgespräche in Ihrem Haus.</p>

    <p>Als Personalberatung sind wir sowohl für
    Unternehmen als auch für Kandidaten
    Vertrauenspersonen. Wir haben ihre jeweiligen
    Interessen stets vor Augen und handeln in ihrer
    beider Sinne. Zu einer Vielzahl hoch qualifizierter
    Führungskräfte halten wir regelmäßig Kontakt,
    arbeiten aber nicht in deren Auftrag.</p>
{% endblock %}
