{% extends "base.html" %}
{% load bootstrap3 %}

{% block title %}Stellenmarkt, Fach- und Führungspositionen für
    außergewöhnliche Köpfe{{ block.super }}{% endblock %}

{% block right_content %}
    <h1>Spannende Jobs für außergewöhnliche Köpfe.</h1>

    <p>Hier finden Sie einen Ausschnitt der aktuell zu
    besetzenden Positionen. Einige Suchaufträge,
    insbesondere für Geschäftsführung und Vorstand,
    werden jedoch nicht veröffentlicht. Bei Interesse
    sprechen Sie uns bitte an.</p>

    <form>
        {% bootstrap_form searchform layout="inline" %}
        <button type="submit" class="btn btn-primary">Suchen</button>
    </form>

    {% include "web/snippets/stellenmarkt-table.html" %}
{% endblock %}
