{% extends "base.html" %}

{% block title %}Personalsuche von Führungskräften und Spezialisten aus
  Vertrieb, Marketing, Entwicklung, Finanzen, Einkauf, Personal{{ block.super }}{% endblock %}

{% block right_content %}
    <h1>Unsere Expertise. Ihr Vorteil.</h1>

    <div class="multicolumn">
    <p>Als Agentur für Personalberatung sind wir auf
    die Suche und Auswahl von Fach- und Führungskräften
    spezialisiert. Mit viel Esprit, Innovation und
    Kreativität haben wir bereits Kandidaten an
    Unternehmen aus den Branchen IT, Bauwirtschaft,
    Technologie, Automotive, Eisenbahnwesen, Chemie und
    Social Media vermittelt.</p>

    <p>Mit unserem Leistungsversprechen finden wir für
    unsere Kunden die besten Kandidaten innerhalb eines
    klar definierten Zeitraumes. Wir verfügen über eine
    umfangreiche Marktkenntnis und wissen mit den
    Trends der einzelnen Branchen umzugehen. Unser
    Know-how bei der systematischen Identifizierung
    potenzieller Kandidaten garantiert eine hohe
    Besetzungsquote.</p>

    <p>Primär rekrutieren wir Führungskräfte und
    Spezialisten in den Bereichen Vertrieb, Marketing,
    Entwicklung, Finanzen, Einkauf, Personal und
    Unternehmensführung. Darüber hinaus besetzen wir
    Positionen im Produkt- und Projektmanagement.</p>

    <p>Überzeugen Sie sich persönlich von der
    fachlichen und sozialen Kompetenz unserer
    Personalberater bei einem ersten Gespräch. Wir
    unterstützen Sie gern.</p>
    </div>
{% endblock %}
