{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block title %}Systemische Beratung, Unternehmensberatung{{ block.super }}{% endblock %}

{% block right_content %}
    <h1>Systemische Beratung setzt Kräfte frei.</h1>

    <p>Unternehmen sind keine festgefügten Strukturen,
    sondern lebendige Organisationen. Sie bilden
    komplexe soziale Systeme, in denen sich alle
    Beteiligten gegenseitig beeinflussen. In einem
    komplexen Miteinander können Störungen auftreten,
    die die Funktion des gesamten Systems
    behindern.</p>

    <p>Systemische Beratung trägt dazu bei, die Quelle
    solcher Störungen zu finden. Dabei betrachtet sie
    nicht nur den einzelnen Menschen, sondern
    untersucht die gesamte Umgebung, da Probleme meist
    einen größeren Personenkreis mit einbeziehen.</p>

    <p>Systemische Beratung ist Hilfe zur Selbsthilfe.
    Sie greift nicht von außen in das System ein,
    sondern aktiviert seine inneren Kräfte und
    ermuntert die Beteiligten zum Finden eigener
    Lösungen. Dazu werden eingespielte Abläufe
    hinterfragt, Veränderungen angeregt und mögliche
    Lösungswege erarbeitet. Unser Idealziel ist eine
    Kultur des Lernens und die Steigerung der Qualität
    aller Kommunikations- und Arbeitsprozesse.</p>

    <p>In regelmäßig vereinbarten Gesprächen
    untersuchen wir Ihre Unternehmensstrukturen als
    zusammenhängende Systeme. Dabei gehen wir
    übergreifend, vernetzt und ganzheitlich vor. Auf
    dieser Basis entwickeln wir mit Ihnen gemeinsam
    Lösungsstrategien, die ungenutzt schlummernde
    Potentiale wecken.</p>

    <p>Kontaktieren Sie uns per <a href=
    "mailto:info@zukunft-elite.de">E-Mail</a>
    oder rufen Sie uns an. Wir freuen uns darauf Sie
    kennenzulernen.</p>


    <div class="row">
        <div class="col-sm-6">

            <h3>Ihr Ansprechpartner</h3>

            <p>
                Roland Nitsche<br>
                Kaufmännischer Geschäftsführer,<br>
                ausgebildeter Systemischer Coach<br>
                <a href="tel:+493512502088-550">
                    {% bootstrap_icon "phone" %}
                    +49 351 2502088-30
                </a><br>

                <a href="mailto:roland.nitsche@zukunft-elite.de">
                    {% bootstrap_icon "envelope" %}
                    roland.nitsche@zukunft-elite.de
                </a>
                </p>

        </div>

        <div class="col-sm-4">
            <img
                alt="Roland Nitsche"
                src="{% static 'jobs/Ansprechpartner/Roland.Nitsche.png' %}"
                class="img-responsive"
            >
        </div>
    </div>
{% endblock right_content %}
