{% extends "base.html" %}

{% load static %}



{% block title %}
Arbeitsvermittler in Dresden, Leipzig und Chemnitz{{ block.super }}
{% endblock %}


{% block middle_col %}


<h3>Ihre Ansprechpartner im Bereich
Arbeitsvermittlung</h3>


<div class="element inhalt">
  {% for node in ansprechpartner %}
    <div class="element inhalt">
      <p><strong>{{node.name}}</strong> <img alt="{{node.name}}" src="{% static "Ansprechpartner/" %}{{ node.imageurl }}" class="contact_person_image" /></p>
      <p>
        {{node.stat}}<br />
        Telefon: {{node.phone}}<br />
        E-Mail: <a href="mailto:{{node.mail}}">{{node.mail}}</a>
      </p>
      <p><br />
      &nbsp;</p>
    </div>
  {% endfor %}
</div>

{% endblock %}


{% block banner %}
  {% include "web/banner/orange.html" with slogan="„Ein offenes Wort und eine ehrliche Einschätzung sind Dinge, die Kunden und Mitarbeiter jederzeit von uns erwarten können.“"%}
{% endblock %}
