{% extends "base.html" %}

{% load static %}

{% block title %}
Kompetenzbereiche in der Personalvermittlung{{ block.super }}
{% endblock %}

{% block middle_col %}

<div class="floatdiv">
  <h1>Nicht alle
  Branchen – aber jede Branche mit
  Expertise</h1>

  <p class="bodytext">Im Geschäftsfeld der
  Personalvermittlung vertreten wir nicht
  alle Branchen – aber wir sind Experten in
  den Dienstleistungsbereichen, die wir
  anbieten.<br />
  Sie können auf das Know-how und die
  Kompetenzen unserer Mitarbeiter vertrauen.
  Fachlich und menschlich.<br />
  Als erfahrenes
  Personaldienstleistungsunternehmen kennen
  wir die Anforderungen und Besonderheiten
  des Marktes.</p>

  <div class="kompetenzbereiche">
    {% for node in kompetenzbereiche %}

        <p><strong>{{node}}</strong><p>
        <ul>
        {% for subnode in node.jobs %}
          <li>{{subnode}}</li>
        {% endfor %}
        </ul>
      {% endfor %}
  </div>

</div>


{% endblock %}


{% block banner %}
  {% include "web/banner/blue.html" with slogan="„Wir vermitteln Mitarbeiter, die nicht nur Ihren fachlichen Anforderungen entsprechen, sondern mit Leidenschaft und Enthusiasmus bei der Arbeit sind.“"%}
{% endblock %}
