{% extends "base.html" %}

{% load static %}

{% block title %}
Arbeitnehmerüberlassung - Zeitarbeit{{ block.super }}
{% endblock %}


{% block middle_col %}

<div class="element inhalt">
  <h3>Zeitarbeit – moderne Perspektive mit
  Zukunft</h3>

  <p>Hier finden Sie eine <a href="{% url 'stellenmarkt' %}">
  Übersicht über unsere aktuellen Stellen</a>
  im Bereich Arbeitnehmerüberlassung.</p>

  <p>Gern sind wir Ihnen bei der Suche nach
  einer neuen beruflichen Herausforderung
  behilflich. Unser Ziel im Rahmen der
  Arbeitnehmerüberlassung ist es, Ihnen
  langfristige Einsätze bei namhaften national
  und international tätigen Unternehmen zu
  vermitteln.<br />
  Als Mitarbeiter von activjob erhalten Sie
  dabei ein unbefristetes
  Arbeitsverhältnis.</p>

  <p>Mit einem persönlichen Ansprechpartner und
  kompetenten Ratschlägen begleiten wir Sie
  dauerhaft auf Ihrer Reise in eine neue
  Arbeitswelt.</p>

  <p>Wir sind im <a href=
  "http://www.personaldienstleister.de/" target=
  "_blank">Bundesarbeitgeberverband der
  Personaldienstleister (BAP)</a> organisiert
  und wenden <a href=
  "{% static 'pdf/170207_BAP_Basistarifwerk_web.pdf' %}" target=
  "_blank">BAP/DGB-Tarifverträge</a> an.
  Entsprechend ihrer Qualifikation erhalten
  viele unserer Mitarbeiter eine übertarifliche
  Bezahlung.</p>

  <p><a href=
  "http://www.personaldienstleister.de/"><img alt="BAP"
  src=
  "{% static 'images/BAP_S_UZ_unten.gif'%}" /></a></p>

  <p>&nbsp;</p>

  <p>Wir sind für Sie da, wenn Sie es wünschen
  – in beruflichen sowie persönlichen
  Angelegenheiten. Nehmen Sie unsere Einladung
  an und lassen Sie sich positiv durch die
  Perspektiven des modernen Instruments
  Zeitarbeit überraschen.</p>
</div>

{% endblock %}


{% block banner %}
  {% include "web/banner/banner.html" with slogan="„Als vertrauenswürdiger und verlässlicher Partner setzen wir Sie entsprechend Ihren Fähigkeiten und Qualifikationen bei unseren Kundenunternehmen ein.“" color="green" %}
{% endblock %}
