{% extends "base.html" %}

{% load static %}

{% block title %}
Personalvermittlung - Vorteile für Kandidaten{{ block.super }}
{% endblock %}

{% block middle_col %}

<div class="element inhalt">
  <h3>Vorteile durch Teamwork</h3>

  <p>Wir beraten Sie umfassend und individuell,
  um Ihre Bewerbung zum Erfolg zu bringen.
  Offenheit und gegenseitiges Vertrauen sind
  wesentliche Voraussetzungen für eine
  partnerschaftliche Zusammenarbeit.
  Schließlich geht es um Sie und Ihre
  Zukunft.</p>

  <p>Gemeinsam helfen wir Ihnen zu erkennen, wo
  ihre Fähigkeiten am besten zum Einsatz
  kommen. Wir setzen uns für Sie ein und
  bereiten Sie kompetent im Hinblick auf
  anstehende Bewerbungsgespräche vor.</p>

  <p><strong>Ihre Vorteile im
  Überblick:</strong></p>

  <ul>
    <li style="margin-left: 40px;">Kontakte und
    Informationen zu interessanten
    Unternehmen</li>

    <li style="margin-left: 40px;">Vermittlung
    mit Empfehlung: Wir setzen uns für Sie beim
    Unternehmen ein</li>

    <li style="margin-left: 40px;">intensive
    Beratung und Unterstützung</li>

    <li style="margin-left: 40px;">Coaching für
    Bewerbungsgespräche</li>

    <li style="margin-left: 40px;">absolute
    Diskretion bei der Verwendung Ihrer
    Daten</li>
  </ul>
</div>

{% endblock %}

{% block banner %}
  {% include "web/banner/blue.html" with slogan="„Wir sind stets auf der Suche nach qualifizierten und motivierten Fachkräften. Bewerben Sie sich jetzt!“"%}
{% endblock %}
