{% extends "base.html" %}

{% load static %}

{% block title %}
Ihre Ansprechpartner für die Zeitarbeit{{ block.super }}
{% endblock %}

{% block middle_col %}

<h3>Ihre Ansprechpartner im Bereich
Arbeitnehmerüberlassung</h3>

<div class="element inhalt">
  {% for node in ansprechpartner %}
    <div class="element inhalt">
      <p><strong>{{node.name}}</strong> <img alt="{{node.name}}" src="{% static "Ansprechpartner/" %}{{ node.imageurl }}" class="contact_person_image" /></p>
      <p>
        {{node.stat}}<br />
        Telefon: {{node.phone}}<br />
        E-Mail: <a href="mailto:{{node.mail}}">{{node.mail}}</a>
      </p>
      <p><br />
      &nbsp;</p>
    </div>
  {% endfor %}
</div>

{% endblock %}

{% block banner %}
  {% include "web/banner/green.html" with slogan="„Unsere Mitarbeiter sind spezialisierte Fachkräfte aus Ihrer Region. So kann jede einzelne Stelle optimal besetzt werden.“" %}
{% endblock %}
