{% extends "bootstrap.html" %}
{% load static %}

{% block meta %}
  <link rel="alternate" type="application/rss+xml" title=
  "Stellenmarkt ZUKUNFT|ELITE." href=
  "{% url 'rss_feed' %}" />
{% endblock meta %}

{% block title %} – ZUKUNFT|ELITE.{% endblock title %}

{% block content %}
    <div class="container" id="maincontent">

        <div class="row" id="header_row">
            <div class="col-lg-12">

                 {% if messages %}
                    <div class="row" style="padding: 0;">
                        <div class="col col-sm-12">
                            {% for message in messages %}
                                <div class="alert alert-dismissible alert-{{ message.tags }}">
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="alert"
                                        aria-label="Close"
                                        >
                                            <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-lg-4 col-lg-offset-8 col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4">
                        <header>
                            <h1>Zukunft | Elite.</h1>
                            <p>Agentur für Personalberatung</p>
                        </header>
                        <img src="{% static 'web/images/ze.png' %}"
                            class="img-responsive hidden-xs"
                            alt="Logo ZUKUNFT|ELITE.">
                        <img src="{% static 'web/images/ze_icon.png' %}"
                            class="img-responsive visible-xs center-block"
                            alt="Logo ZUKUNFT|ELITE.">
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="nav_row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        {% include "web/snippets/nav.html" %}
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div
                class="col-md-12 {% block ze_maincontainer_class %}{% endblock %}"
                id="ze_maincontainer"
            >

                {% block ze_maincontainer %}
                    <div class="row">

                        {% block left_col %}
                            <div class="col-sm-3 hidden-xs">
                                {% if submenu %}
                                    {% include "web/snippets/sidemenu_left.html" %}
                                {% endif %}
                            </div>
                        {% endblock left_col %}


                        {% block right_col %}
                            <div class="col-sm-8">

                                {% block right_content %}
                                {% endblock right_content %}

                            </div>
                        {% endblock right_col %}

                    </div>
                {% endblock ze_maincontainer %}

            </div>
        </div>

    </div>




    <div class="container">
        <div class="row" id="footer_row">
            {% include "web/snippets/_footer_nav.html" %}
        </div>
    </div>

    {% block end_js %}
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    {% endblock end_js %}

{% endblock content %}
