{% extends "bootstrap.html" %}
{% load static %}

{% block title %} Arbeitsvermittlung, Personalvermittlung, Zeitarbeit -
activjob. {% endblock title %}

{% block content %}
    <div class="site">

      <div class="sitetop container">
        <div class="row upper_content">
          <div id="topbuttons"></div>
          <div class="topcontent">
            <div class="element inhalt">
              <p><a href="kontakt.html">Kontakt</a> | <a href=
              "sitemap.html">Sitemap</a> | <a href=
              "impressum.html">Impressum</a></p>
            </div>
          </div>
          <div class="logo">
              <a href="/"><img src={% static 'css/images/logo.gif' %} alt=
              "activjob Logo" /></a>
          </div>
          <div class="menu">
            {% block navigation_top %}
              {% include "web/nav/nav.html" %}
            {% endblock %}
          </div>
        </div>
        <div class="sitecontent">

          <div class="header">



            <div id="split">
              <div id="absmen"></div>
            </div>
            <div class="headcontent">
              {% block banner %}




              <div id="banner" class="col-md-9 col-sm-12">

              </div>

              {% endblock %}



              <div id="quicksearch" class="col-md-3 col-sm-12" >
                <div id="searchbg">
                  <div class="element userPlugin">
                    <h2>Stellenmarkt:</h2>

                    <p>Durchsuchen Sie hier die Angebote unseres
                    Stellenmarktes.</p>

                    <form action="http://www.activ-job.com/Stellenmarkt.html" method="post"
                    enctype="multipart/form-data">
                      <div>
                        <div class=
                        "formcontent filterOwnEinsatzort" id=
                        "nrquick1">
                          <span class=
                          "fieldname">Einsatzort:</span><input type="text"
                          name="filterOwnEinsatzort" value="" id=
                          "quickStadt" />
                        </div>

                        <div class="formcontent filterOwnStichwort"
                        id="nrquick2">
                          <span class=
                          "fieldname">Stichwort:</span><input type=
                          "text" name="filterOwnStichwort" value=""
                          id="quickStelle" />
                        </div>

                        <div class="formcontent submit" id=
                        "nrquick3">
                          <input type="hidden" name="submit" value=
                          "" />
                        </div>
                      </div>

                      <div class="submit">
                        <input type="submit" name="submitquick"
                        class="savebutton" value=" " />
                      </div>
                    </form><a class="adv_search" href=
                    "Stellenmarkt.html">Detailsuche</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="content container">
            <div class="col-md-9">
              {% block page_content %}
                <div class="col-md-3 col-sm-4 col-xs-12 menu-left">
                 {% block left_col %}
                 {% endblock left_col %}
               </div>
               <div class="col-md-9 col-sm-8 col-xs-12">
                 {% block middle_col %}
                 {% endblock middle_col %}
               </div>
              {% endblock page_content %}
            </div>
            <div id="contact" class="col-md-3 col-sm-12 col-xs-12">
             {% block right_col %}
                {% include "web/pages/contact.html" %}
             {% endblock right_col %}
            </div>

          </div>
        </div>
      </div>

    </div>

    {% block end_js %}
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

    {% endblock end_js %}


 <script src= {% static 'script/script.js' %} ></script>

{% endblock content %}
