{% extends "bootstrap.html" %}
{% load static %}

{% block title %} -
activjob. {% endblock title %}

{% block content %}
    <div class="site">

      <div class="sitetop container">
        <div class="row upper_content">
          <div id="topbuttons"></div>
          <div class="topcontent">
            <div class="element inhalt">
              <p><a href="{% url 'kontakt' %}">Kontakt</a> | <a href=
              "{% url 'sitemap' %}">Sitemap</a> | <a href=
              "{% url 'impressum' %}">Impressum</a></p>
            </div>
          </div>
          <div class="logo">
              <a href="/"><img src={% static 'images/logo.gif' %} alt=
              "activjob Logo" /></a>
          </div>
          <div class="menu menu-top">
            {% block navigation_top %}
              {% include "web/nav/topnav.html" %}
            {% endblock %}
          </div>
        </div>
        <div class="sitecontent">

          <div class="header">



            <div id="split">
              
            </div>

              <div id="banner" class="col-md-9 col-sm-12">
                <div id="overlay_object">
                </div>
                {% block banner %}
                <style>
                #banner {
                  background-image: url("{% static 'banner/banner_red_background.png' %}");
                  background-size: cover;
                }
                #overlay_object {
                  background-image:url("{% static 'banner/red_woman.png' %}");
                }
                </style>

                {% endblock %}
              </div>



              <div id="quicksearch_container" class="col-md-3 col-sm-12">
              <div id="bar">
              </div>
              {% comment %}<!--begin quicksearch -->{% endcomment %}

              <div id="quicksearch"  >

                  <div class="element userPlugin">
                    <h2>Stellenmarkt:</h2>

                    <p>Durchsuchen Sie hier die Angebote unseres
                    Stellenmarktes.</p>

                    <form action="{% url 'stellenmarkt' %}" method="post"
                    enctype="multipart/form-data">
                      <div>
                        <div class=
                        "formcontent filterOwnEinsatzort" id=
                        "nrquick1">
                          <span class=
                          "fieldname">Einsatzort:</span><input type="text" class="form-control"
                          name="filterOwnEinsatzort" value="" id=
                          "quickStadt" />
                        </div>

                        <div class="formcontent filterOwnStichwort"
                        id="nrquick2">
                          <span class=
                          "fieldname">Stichwort:</span><input type=
                          "text" class="form-control" name="filterOwnStichwort" value=""
                          id="quickStelle" />
                        </div>

                        <div class="formcontent submit" id=
                        "nrquick3">
                          <input type="hidden" name="submit" value=
                          "" />
                        </div>
                      </div>

                      <div class="submit">
                        <input type="submit" name="submitquick"
                        class="savebutton form-control" value=" " />
                      </div>
                    </form><a class="adv_search" href=
                    "{% url 'stellenmarkt' %}">Detailsuche</a>
                </div>
              </div>
{% comment %}<!--end quicksearch -->{% endcomment %}
              </div>
              <div id="arch">
              </div>
              <div id="arch_helper">
              </div>

          </div>
          <div class="content container">
            <div class="col-md-9">
              {% block page_content %}
                <div class="col-md-3 col-sm-4 col-xs-12 menu-left">
                 {% block left_col %}
                  {% include "web/nav/leftnav.html" %}
                 {% endblock left_col %}
               </div>
               <div class="col-md-9 col-sm-8 col-xs-12">
                 {% block middle_col %}
                 {% endblock middle_col %}
               </div>
              {% endblock page_content %}
            </div>
            <div id="contact" class="col-md-3 col-sm-12 col-xs-12">
             {% block right_col %}
                {% include "web/pages/contact.html" %}
             {% endblock right_col %}
            </div>

          </div>
        </div>
      </div>

    </div>

    {% block end_js %}
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
        <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="https://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
        <script src= {% static 'script/script.js' %} ></script>

        <!-- Piwik -->
        <script type="text/javascript">
       //<![CDATA[
                          var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.activ-job.com/" : "https://stats.activ-job.com/");
                          document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        //]]>
        </script><script type="text/javascript">
       //<![CDATA[
                          try {
                          var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 30);
                          piwikTracker.trackPageView();
                          piwikTracker.enableLinkTracking();
                          } catch( err ) {}
        //]]>
        </script>

<!-- what is this?!?
        <noscript>
        <p><img src="https://stats.activ-job.com/piwik.php?idsite=30"
        style="border:0" alt="" /></p></noscript> -->
        <!-- End Piwik Tracking Code -->

    {% endblock end_js %}

{% endblock content %}
