{% extends "base.html" %}

{% load static %}



{% block title %}
{{ ansprechpartner.title }}{{ block.super }}
{% endblock %}


{% block middle_col %}


<h3>Ihre Ansprechpartner im Bereich
{{ ansprechpartner.field }}</h3>

</br>


<div class="ansprechpartner">
  {% for node in ansprechpartner.contacts.all %}
    <div>
      <strong>{{node.first_name}} {{node.last_name}}</strong>
      <img alt="{{node.name}}" src="{% static "Ansprechpartner/" %}{{ node.imageurl }}" class="contact_person_image" />
      <p>
        {{node.status}}<br />
        Telefon: {{node.phone}}<br />
        E-Mail: <a href="mailto:{{node.mail}}">{{node.mail}}</a>
      </p>
      <p><br />
      &nbsp;</p>
    </div>
  {% endfor %}
</div>

{% endblock %}


{% block banner %}
    {% include "web/banner/banner.html" with slogan=ansprechpartner.banner_slogan color=ansprechpartner.banner_color %}
{% endblock %}
