{% extends "base.html" %}

{% load static %}

{% block navigation_top %}
  {% include "web/nav/nav.html" with active_tab='tab3' %}
{% endblock %}

{% block middle_col %}

<div class="element inhalt">
  <h3>Mit Kompetenz und Erfahrung punkten</h3>

  <p>Nach Ihren individuellen Bedürfnissen und
  Anforderungen vermitteln wir Ihnen im Rahmen
  der Arbeitsvermittlung qualifizierte
  Fachkräfte und Helfer für die folgenden
  Bereiche:*</p>

  <p style="margin-left: 40px;"><strong>Wach-
  und Sicherheitsgewerbe, z. B.</strong></p>

  <ul>
    <li style="margin-left: 80px;">
    Sicherheitsfachkräfte</li>

    <li style="margin-left: 80px;">
    Museumsaufsichten</li>
  </ul>

  <p style="margin-left: 40px;"><strong>Hotel-
  und Gastgewerbe, z. B.</strong></p>

  <ul>
    <li style="margin-left: 80px;">Hotel- und
    Restaurantfachkräfte</li>

    <li style="margin-left: 80px;">Köche und
    Küchenhilfskräfte</li>
  </ul>

  <p style="margin-left: 40px;">
  <strong>Spedition und Logistik, z.
  B.</strong></p>

  <ul>
    <li style="margin-left: 80px;">Kraftfahrer
    und Disponenten</li>

    <li style="margin-left: 80px;">
    Lagerhelfer</li>
  </ul>

  <p style="margin-left: 40px;"><strong>Handel
  und Dienstleistungen, z. B.</strong></p>

  <ul>
    <li style="margin-left: 80px;">
    Backwarenfachverkäufer</li>

    <li style="margin-left: 80px;">
    Fleischwarenfachverkäufer</li>

    <li style="margin-left: 80px;">Fachkräfte
    im Einzelhandel</li>
  </ul>

  <p style="margin-left: 40px;">
  <strong>Bahndienstleistungen, z.
  B.</strong></p>

  <ul>
    <li style="margin-left: 80px;">
    Sicherungsposten (SIPO/SAKRA, BÜP, Bediener
    AWS)</li>

    <li style="margin-left: 80px;">technisches
    Bahnpersonal</li>

    <li style="margin-left: 80px;">technische
    Führungskräfte</li>

    <li style="margin-left: 80px;">
    Bahnlogistiker</li>
  </ul>

  <p style="margin-left: 40px;"><strong>Bau-
  und Baunebengewerbe z. B.</strong></p>

  <ul>
    <li style="margin-left: 80px;">
    Baufachkräfte</li>

    <li style="margin-left: 80px;">
    Bauhelfer</li>
  </ul>

  <p style="margin-left: 40px;">
  <strong>Facilitymanagement, z.
  B.</strong></p>

  <ul>
    <li style="margin-left: 80px;">
    Reinigungskräfte</li>

    <li style="margin-left: 80px;">
    Hauswirtschaftskräfte</li>
  </ul>

  <p style="margin-left: 40px;">
  <strong>Gesundheitswesen</strong></p>

  <ul>
    <li style="margin-left: 80px;">Kranken- und
    Altenpflegekräfte</li>
  </ul>

  <p>&nbsp;</p>

  <p>* Die verwendete männliche Bezeichnung
  umfasst weibliche und männliche Personen. Die
  undifferenzierte Bezeichnung dient allein der
  besseren Lesbarkeit.</p>

  <p>&nbsp;</p>

  <p>&nbsp;</p>
</div>

{% endblock %}

{% block left_col %}

{% include "web/nav/left_col_menu_business.html" with active_tab='left_tab9' %}

{% endblock %}

{% block banner %}
<div class="orange col-md-9 col-sm-12">
<div id="banner">
  <h2>„Ein offenes Wort und eine ehrliche
  Einschätzung sind Dinge, die Kunden und
  Mitarbeiter jederzeit von uns erwarten
  können.“</h2>
</div>
</div>
{% endblock %}
