{% extends "base.html" %}

{% load static %}


{% block title %}
Arbeitsvermittlung Kompetenzbereiche
  {% for node in kompetenzbereiche %}
    {{node}}
  {% endfor %}
  {{ block.super }}
{% endblock %}


{% block middle_col %}

<div class="kompetenzbereiche">
  <h3>Mit Kompetenz und Erfahrung punkten</h3>

  <p>Nach Ihren individuellen Bedürfnissen und
  Anforderungen vermitteln wir Ihnen im Rahmen
  der Arbeitsvermittlung qualifizierte
  Fachkräfte und Helfer für die folgenden
  Bereiche:</p>

  {% for node in kompetenzbereiche %}

      <p><strong>{{node}}</strong><p>
      <ul>
      {% for subnode in node.jobs %}
        <li>{{subnode}}</li>
      {% endfor %}
      </ul>
    {% endfor %}

  <p>* Die verwendete männliche Bezeichnung
  umfasst weibliche und männliche Personen. Die
  undifferenzierte Bezeichnung dient allein der
  besseren Lesbarkeit.</p>

</div>

{% endblock %}


{% block banner %}
  {% include "web/banner/orange.html" with slogan="„Ein offenes Wort und eine ehrliche Einschätzung sind Dinge, die Kunden und Mitarbeiter jederzeit von uns erwarten können.“"%}
{% endblock %}
