{% extends "base.html" %}

{% load static %}

{% block title %}
Zeitarbeit in Dresden Leipzig Chemnitz Bautzen München Nürnberg Hamburg Köln{{ block.super }}
{% endblock %}

{% block middle_col %}

<h3>Zeitarbeit – flexibel und kompetent</h3>

<div class="floatdiv">
  Durch die Überlassung spezialisierter
  Fachkräfte unterstützen wir unsere Kunden
  langfristig und auch kurzfristig bei
  personellen Engpässen. Im Mittelpunkt
  stehen dabei spezialisierte Fachkräfte aus
  Ihrer Region sowie bundesweit tätige
  Mitarbeiter, die unsere vertrauensvolle
  Betreuung schätzen.
</div>

<div class="floatdiv">
  &nbsp;
</div>

<div class="floatdiv">
  Unsere Disponenten verfügen über jahrelange
  Erfahrung in den jeweiligen
  Einsatzbereichen und kennen die
  charakteristischen Anforderungsprofile. Bei
  der Stellenbesetzung sichern wir Ihnen die
  fachspezifische Eignung unseres Personals
  zu.
</div>

<div class="floatdiv">
  &nbsp;
</div>

<div class="floatdiv">
  <strong>Ihre Vorteile auf einen
  Blick:</strong>
</div>

<ul>
  <li class="floatdiv" style=
  "margin-left: 40px;">schnelle Verfügbarkeit
  unserer Mitarbeiter</li>

  <li class="floatdiv" style=
  "margin-left: 40px;">hohe Flexibilität für
  Ihr Unternehmen</li>

  <li class="floatdiv" style=
  "margin-left: 40px;">geeignete Fachkräfte
  auf Zeit aus Ihrer Region</li>

  <li class="floatdiv" style=
  "margin-left: 40px;">keine Kosten bei
  Fehlzeiten wie Urlaub, Krankheit,<br />
  Mutterschutz usw.</li>

  <li class="floatdiv" style=
  "margin-left: 40px;">einfache und genaue
  Kostenkalkulation, da nur die geleistete
  Arbeit bezahlt wird&nbsp;</li>

  <li class="floatdiv" style=
  "margin-left: 40px;">Vermeidung von
  Personalüberhängen bei Arbeits- bzw.
  Auftragsrückgang</li>

  <li class="floatdiv" style=
  "margin-left: 40px;">Übernahme der zur
  Verfügung gestellten Mitarbeiter nach
  Vereinbarung möglich</li>
</ul>

<div class="floatdiv">
  2004 hat uns die Bundesagentur für Arbeit,
  Regionaldirektion Sachsen, die unbefristete
  Arbeitnehmerüberlassungslizenz erteilt.
</div>

{% endblock %}


{% block banner %}
  {% include "web/banner/green.html" with slogan="„Unsere Mitarbeiter sind spezialisierte Fachkräfte aus Ihrer Region. So kann jede einzelne Stelle optimal besetzt werden.“" %}
{% endblock %}
