{% extends "base.html" %}

{% load static %}

{% block navigation_top %}
  {% include "web/nav/nav.html" with active_tab='tab3' %}
{% endblock %}

{% block middle_col %}


  <h3>Ihre Ansprechpartner im Bereich
  Arbeitsvermittlung</h3>

  <div class="element inhalt">

  <p><strong>Tom Drechsel</strong> <img alt=""
    src="res/Ansprechpartner/Tom.Drechsel.jpg"
    style=
    "width: 150px; float: right;" />
    </p>

    <p><br />
    Geschäftsbereichsleiter<br />
    Telefon: 0351 2502088-33 <br />
     E-Mail:<a href=
    "javascript:mt('tom.drechsel','activ-job.com','','')">
    tom.drechsel@activ-job.com</a></p>

    <p><br />
    &nbsp;</p>
  </div>

  <div class="element inhalt">
    <p><strong>Sicherheitsgewerbe<img alt=""
    src="res/Ansprechpartner/Evelyn.B%c3%b6hme.jpg"
    style="width: 150px; float: right;" /></strong></p>

    <p>Evelyn Böhme<br />
    Teamleiterin, Leipzig<br />
    Telefon: 0341 303792-11<br />
    E-Mail: <a href=
    "javascript:mt('evelyn.boehme','activ-job.com','','')">
    evelyn.boehme@activ-job.com</a></p>

    <p>&nbsp;</p>
  </div>

  <div class="element inhalt">
    <p><strong>Gesundheitswesen,
    Museumsaufsichten<img alt="" src=
    "res/Ansprechpartner/Margitta.Nitsche.jpg" style=
    "width: 150px; float: right;" /></strong></p>

    <p>Margitta Nitsche<br />
    Arbeitsvermittlerin, Dresden und
    Chemnitz<br />
    Telefon: 0351 2502088-34<br />
    E-Mail: <a href=
    "javascript:mt('margitta.nitsche','activ-job.com','','')">
    margitta.nitsche@activ-job.com</a></p>

    <p>&nbsp;</p>
  </div>

  <div class="element inhalt">
  <p><strong>Anke Wassermann</strong> <img alt=
  "anke wassermann" src=
  "res/Ansprechpartner/Anke.Wassermann.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Teamleiterin Empfang, Dresden<br />
  Telefon: 0351 2502088-0<br />
  E-Mail: <a href=
  "javascript:mt('anke.wassermann','activ-job.com','','')">
  anke.wassermann@activ-job.com</a></p>

  <p>&nbsp;</p>
</div>

  <div class="element inhalt">
   <p><strong>Evelyn Würzburg</strong> <img alt=
  "evelyn würzburg" src=
  "res/Ansprechpartner/Evelyn.W%c3%bcrzburg.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Mitarbeiterin Empfang, Dresden<br />
  Telefon: 0351 2502088-0<br />
  E-Mail: <a href=
  "javascript:mt('evelyn.wuerzburg','activ-job.com','','')">
  evelyn.wuerzburg@activ-job.com</a></p>

  <p>&nbsp;</p>
</div>

  <div class="element inhalt">
  <p><strong>Bärbel Meßinger</strong> <img alt=
  "bärbel meßinger" src=
  "res/Ansprechpartner/B%c3%a4rbel.Me%c3%9finger.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Mitarbeiterin Empfang, Chemnitz<br />
  Telefon: 0371 4937582-0<br />
  E-Mail: <a href=
  "javascript:mt('baerbel.messinger','activ-job.com','','')">
  baerbel.messinger@activ-job.com</a></p>

  <p>&nbsp;</p>

  </div>


{% endblock %}

{% block left_col %}

{% include "web/nav/left_col_menu_business.html" with active_tab='left_tab10' %}

{% endblock %}

{% block banner %}
<div class="orange col-md-9">>
<div id="banner">
  <h2>„Ein offenes Wort und eine ehrliche
  Einschätzung sind Dinge, die Kunden und
  Mitarbeiter jederzeit von uns erwarten
  können.“</h2>
</div>
</div>
{% endblock %}
