{% extends "base.html" %}

{% load static %}

{% block title %}
Zeitarbeit in Dresden Leipzig Chemnitz Bautzen München Nürnberg Hamburg Köln{{ block.super }}
{% endblock %}

{% block middle_col %}

<h3>Zeitarbeit – flexibel und kompetent</h3>

<div >
  Durch die Überlassung spezialisierter
  Fachkräfte unterstützen wir unsere Kunden
  langfristig und auch kurzfristig bei
  personellen Engpässen. Im Mittelpunkt
  stehen dabei spezialisierte Fachkräfte aus
  Ihrer Region sowie bundesweit tätige
  Mitarbeiter, die unsere vertrauensvolle
  Betreuung schätzen.
</div>


  &nbsp;

<div >
  Unsere Disponenten verfügen über jahrelange
  Erfahrung in den jeweiligen
  Einsatzbereichen und kennen die
  charakteristischen Anforderungsprofile. Bei
  der Stellenbesetzung sichern wir Ihnen die
  fachspezifische Eignung unseres Personals
  zu.
</div>

  &nbsp;

<div >
  <strong>Ihre Vorteile auf einen
  Blick:</strong>
</div>

  &nbsp;

<div class="inhalt">
  <ul>
    <li>schnelle Verfügbarkeit
    unserer Mitarbeiter</li>

    <li>hohe Flexibilität für
    Ihr Unternehmen</li>

    <li>geeignete Fachkräfte
    auf Zeit aus Ihrer Region</li>

    <li>keine Kosten bei
    Fehlzeiten wie Urlaub, Krankheit,<br />
    Mutterschutz usw.</li>

    <li>einfache und genaue
    Kostenkalkulation, da nur die geleistete
    Arbeit bezahlt wird</li>

    <li>Vermeidung von
    Personalüberhängen bei Arbeits- bzw.
    Auftragsrückgang</li>

    <li>Übernahme der zur
    Verfügung gestellten Mitarbeiter nach
    Vereinbarung möglich</li>
  </ul>
</div>

<div >
  2004 hat uns die Bundesagentur für Arbeit,
  Regionaldirektion Sachsen, die unbefristete
  Arbeitnehmerüberlassungslizenz erteilt.
</div>

{% endblock %}


{% block banner %}
  {% include "web/banner/banner.html" with slogan="„Unsere Mitarbeiter sind spezialisierte Fachkräfte aus Ihrer Region. So kann jede einzelne Stelle optimal besetzt werden.“" color="green" %}
{% endblock %}
