{% extends "base.html" %}

{% load static %}

{% block title %}
{{ berufsfelder.title }}{{ block.super }}
{% endblock %}

{% block middle_col %}

<h3>Berufsfelder und Einsatzgebiete</h3>
</br>
<div>{{ berufsfelder.text }}</div>
</br>
<div>
  {% for node in berufsfelder.bereich_set.all %}

      <p><strong>{{ node.name }}</strong><p>
      <div class="inhalt further_right_list">
        <ul>
        {% for subnode in node.detail_set.all %}
          <li>{{ subnode.name }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endfor %}
</div>
</br>
<p>
* Die verwendete männliche Bezeichnung
umfasst weibliche und männliche Personen. Die
undifferenzierte Bezeichnung dient allein der
besseren Lesbarkeit.</p>


{% endblock %}

{% block banner %}
    {% include "web/banner/banner.html" with slogan=berufsfelder.banner_slogan color=berufsfelder.banner_color %}
{% endblock %}
