{% extends "base.html" %}

{% load static %}

{% block title %}
Arbeitsvermittlung für Sachsen, Sachsen-Anhalt, Brandenburg, Berlin, Thüringen, Bayern, Baden-Württemberg{{ block.super }}
{% endblock %}

{% block middle_col %}

<div class="element inhalt">
  <h3>Ihr Weg zum neuen Job</h3>

  <p>Im Rahmen der privaten Arbeitsvermittlung
  unterstützen wir Erwerbslose bei der Suche
  nach einem neuen Arbeitsplatz. Ob Vollzeit,
  Teilzeit, regional oder bundesweit, wir sind
  Ihr Ansprechpartner. Informieren Sie sich in
  unserem Stellenmarkt über <a href=
  "stellenmarkt-P_fBereich_1.html">
  aktuelle Jobangebote</a>.</p>

  <p>So einfach können Sie unsere Leistungen in
  Anspruch nehmen:</p>

  <p>Sie kontaktieren uns per E-Mail oder
  telefonisch und übermitteln uns Ihre
  persönlichen Vorstellungen und
  Bewerbungsunterlagen.</p>

  <p>Nach Überprüfung der Unterlagen setzen wir
  uns mit Ihnen in Verbindung und vereinbaren
  einen Gesprächstermin. So lernen wir uns
  persönlich kennen.</p>

  <p>Gemeinsam erarbeiten wir ein Profil von
  Ihnen und besprechen die Möglichkeiten, Sie
  in ein festes Arbeitsverhältnis zu
  vermitteln.</p>

  <p>Nach Abschluss eines Vermittlungsvertrages
  bewerben wir Sie auf die gewünschte Stelle.
  Basis dafür ist in der Regel ein
  Aktivierungs- und Vermittlungsgutschein
  (AVGS). Diesen erhalten Sie bei Ihrer
  zuständigen Arbeitsagentur. Die
  Voraussetzungen für den Anspruch auf einen
  AVGS erfahren Sie <a href=
  "bewerber_arbeitsvermittlung_antworten.html">
  hier</a>.</p>

  <p>Einen formlosen Musterantrag für den
  Aktivierungs- und Vermittlungsgutschein
  können Sie <a href=
  "dateien/pdf/VL3%20Musterantrag%20AVGS2.pdf">
  hier</a> kostenlos herunterladen.</p>

  <p>Unsere langjährige Erfahrung und die guten
  Kontakte zu den Personalentscheidern
  verschiedenster Unternehmen sowie unser
  engagierter Einsatz für Ihre Zukunft sind die
  beste Voraussetzung für eine erfolgreiche
  Vermittlung.</p>

  <p>Vergeuden Sie keine Zeit und nutzen Sie
  unsere Erfahrungen und Möglichkeiten. Wir
  freuen uns darauf, Sie kennenzulernen!</p>
</div>

{% endblock %}

{% block banner %}
<style>
#banner {
  background: linear-gradient(to top, #ca6000, #f39700);
}
#overlay_object {
  background-image:url("res/banner/orange_guy.png")
}
</style>
<h2>
  „Ein fester Ansprechpartner nimmt sich Ihrer
 Anliegen persönlich an und betreut Sie individuell.“
</h2>
{% endblock %}

{% block banner %}
  {% include "web/banner/orange.html"}
{% endblock %}
