{% extends "base.html" %}

{% load static %}

{% block navigation_top %}
  {% include "web/nav/nav.html" with active_tab='tab4' %}
{% endblock %}

{% block middle_col %}

<div class="element inhalt">
  <div class="floatdiv">
    <h3>Personalvermittlung – so finden Sie
    Ihren Traumjob</h3>

    <p>Neben unseren Einsätzen im Rahmen der
    Zeitarbeit vermitteln wir Fach- und
    Führungskräfte auch direkt in namhafte
    Unternehmen. Dabei suchen wir im Auftrag
    unserer Kunden nach qualifizierten
    Kandidaten, die eine neue Herausforderung
    mit Vorfreude und Leistungsbereitschaft
    annehmen. Interessante Angebote dazu finden
    Sie in unserer <a href=
    "stellenmarkt-P_fBereich_2.html">
    Übersicht aktueller Stellen</a>.</p>

    <p>Gern besprechen wir gemeinsam mit Ihnen
    Ihre Vorstellungen und Erwartungen. Senden
    Sie uns Ihre Bewerbung per E-Mail oder
    kontaktieren Sie uns telefonisch.</p>

    <p>Wir begleiten Sie während des gesamten
    Bewerbungsprozesses und bereiten Sie auf
    die Vorstellungsgespräche bei unseren
    Kunden vor. Ein persönlicher
    Ansprechpartner steht Ihnen mit kompetenten
    Ratschlägen und Tipps zur Verfügung. Für
    Sie als Bewerber ist unsere Unterstützung
    selbstverständlich kostenfrei.</p>

    <p>Vergeuden Sie keine Zeit und nutzen Sie
    unsere Expertise und Möglichkeiten. Wir
    freuen uns auf Sie.</p>
  </div>

  <p>&nbsp;</p>
</div>

{% endblock %}

{% block left_col %}

{% include "web/nav/left_col_menu_applicant.html" with active_tab='left_tab6' %}

{% endblock %}
