{% extends "base.html" %}

{% load static %}

{% block navigation_top %}
  {% include "web/nav/nav.html" with active_tab='tab4' %}
{% endblock %}

{% block middle_col %}

<div class="element inhalt">
  <h3>Berufsfelder und Einsatzgebiete</h3>

  <p>Gern beraten wir Sie individuell und
  vermitteln Sie direkt in ein festes
  Arbeitsverhältnis bei namhaften Unternehmen.
  Im Auftrag unserer Kunden suchen wir für
  folgende beispielhafte Profile den richtigen
  Bewerber:*</p>

  <p><strong>Ingenieurwesen/Industrie und
  Technik</strong></p>

  <ul>
    <li style="margin-left: 40px;">
    Bauingenieure, Bautechniker</li>

    <li style="margin-left: 40px;">
    Elektrotechnik-Ingenieure,
    Elektrotechniker</li>

    <li style="margin-left: 40px;">
    Maschinenbau-Ingenieure, -techniker</li>

    <li style="margin-left: 40px;">
    Qualitätsmanager &amp;
    Qualitätsingenieur</li>

    <li style="margin-left: 40px;">
    Servicetechniker</li>

    <li style="margin-left: 40px;">
    Verfahrenstechnik-Ingenieure</li>

    <li style="margin-left: 40px;">
    Vertriebsingenieur</li>
  </ul>

  <p><span style=
  "display: none;">&nbsp;</span><span id=
  "cke_bm_106S" style=
  "display: none;">&nbsp;</span></p>

  <p><strong>Informationstechnologie und
  Telekommunikation<span id="cke_bm_106E"
  style="display: none;">&nbsp;</span></strong></p>

  <ul>
    <li style="margin-left: 40px;">
    Datenbankadministration &amp;
    -entwicklung</li>

    <li style="margin-left: 40px;">E-Business
    &amp; E-Commerce</li>

    <li style="margin-left: 40px;">Helpdesk
    &amp; Technischer Support</li>

    <li style="margin-left: 40px;">
    IT-Architektur</li>

    <li style="margin-left: 40px;">
    Netzwerkadministration &amp;
    Sicherheit</li>

    <li style="margin-left: 40px;">Software-,
    Anwendungsentwicklung und
    -programmierung</li>

    <li style="margin-left: 40px;">
    Systemadministration</li>

    <li style="margin-left: 40px;">
    Telekommunikation &amp; Mobilsysteme</li>
  </ul>

  <p><strong>Kaufmännische Berufe und
  Assistenz</strong></p>

  <ul>
    <li style="margin-left: 40px;">
    Office-Management, Sekretariat</li>

    <li style="margin-left: 40px;">
    Kundenberater, Telefonzentrale</li>

    <li style="margin-left: 40px;">
    Personalwesen</li>

    <li style="margin-left: 40px;">Vertrieb,
    Marketing</li>

    <li style="margin-left: 40px;">Finanzen,
    Handel, Einkauf</li>
  </ul>

  <p><strong>Gesundheitswesen</strong></p>

  <ul>
    <li style="margin-left: 40px;">
    Assistenzberufe</li>

    <li style="margin-left: 40px;">
    Pflegeberufe</li>

    <li style="margin-left: 40px;">
    Pharmaberater &amp; -referent</li>

    <li style="margin-left: 40px;">
    Praxispersonal</li>

    <li style="margin-left: 40px;">
    Therapeutische Berufe</li>
  </ul>

  <p><br />
  * Die verwendete männliche Bezeichnung
  umfasst weibliche und männliche Personen. Die
  undifferenzierte Bezeichnung dient allein der
  besseren Lesbarkeit.</p>
</div>

{% endblock %}

{% block left_col %}

{% include "web/nav/left_col_menu_applicant.html" with active_tab='left_tab8' %}

{% endblock %}
