{% extends "base.html" %}

{% load static %}

{% block navigation_top %}
  {% include "web/nav/nav.html" with active_tab='tab4' %}
{% endblock %}

{% block middle_col %}

<div class="element inhalt">
  <p><strong>Tom Drechsel</strong> <img alt=""
  src="res/Ansprechpartner/Tom.Drechsel.jpg"
  style="width: 150px; float: right;" />
  </p>

  <p>Geschäftsbereichsleiter<br />
  Telefon: 0351 2502088-33i<br />
  E-Mail: <a href=
  "javascript:mt('tom.drechsel','activ-job.com','','')">
  tom.drechsel@activ-job.com</a></p>

  <p><br />
  &nbsp;</p>
</div>

<div class="element inhalt">
  <p><strong>Evelyn Böhme</strong><img alt=""
  src="res/Ansprechpartner/Evelyn.B%c3%b6hme.jpg" style=
  "width: 150px; float: right;" /><br />

  <br />
  Teamleiterin, Leipzig<br />
  Telefon: 0341 303792-11<br />
  E-Mail: <a href=
  "javascript:mt('evelyn.boehme','activ-job.com','','')">
  evelyn.boehme@activ-job.com</a></p>

  <p>&nbsp;<br /></p>
</div>

<div class="element inhalt">
  <p><strong>Margitta Nitsche<img alt="" src=
  "res/Ansprechpartner/Margitta.Nitsche.jpg" style=
  "width: 150px; float: right;" /></strong></p>

  <p>Teamleiterin, Dresden<br />
  Telefon: 0351 2502088-34<br />
  E-Mail: <a href=
  "javascript:mt('margitta.nitsche','activ-job.com','','')">
  margitta.nitsche@activ-job.com</a></p>

  <p>&nbsp;<br /></p>
</div>

<div class="element inhalt">
  <p><strong>Anke Wassermann</strong> <img alt=
  "Anke Wassermann" src=
  "res/Ansprechpartner/Anke.Wassermann.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Teamleiterin Empfang, Dresden<br />
  Telefon: 0351 2502088-0<br />
  E-Mail: <a href=
  "javascript:mt('anke.wassermann','activ-job.com','','')">
  anke.wassermann@activ-job.com</a></p>

  <p>&nbsp;</p>

   <p><strong>Evelyn Würzburg</strong> <img alt=
  "Evelyn Würzburg" src=
  "res/Ansprechpartner/Evelyn.W%c3%bcrzburg.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Mitarbeiterin Empfang, Dresden<br />
  Telefon: 0351 2502088-0<br />
  E-Mail: <a href=
  "javascript:mt('evelyn.wuerzburg','activ-job.com','','')">
  evelyn.wuerzburg@activ-job.com</a></p>

  <p>&nbsp;</p>

  <p><strong>Bärbel Meßinger</strong> <img alt=
  "Bärbel Meßinger" src=
  "res/Ansprechpartner/B%c3%a4rbel.Me%c3%9finger.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Mitarbeiterin Empfang, Chemnitz<br />
  Telefon: 0371 4937582-0<br />
  E-Mail: <a href=
  "javascript:mt('baerbel.messinger','activ-job.com','','')">
  baerbel.messinger@activ-job.com</a></p>

  <p>&nbsp;</p>


</div>

{% endblock %}

{% block left_col %}

{% include "web/nav/left_col_menu_applicant.html" with active_tab='left_tab9' %}

{% endblock %}
