{% extends "base.html" %}

{% load static %}

{% block title %}
Berufsfelder in der Zeitarbeit{{ block.super }}
{% endblock %}


{% block middle_col %}

  <h3>Einsatzgebiete und Berufsfelder</h3>

  <p>Gern beraten wir Sie individuell.
  Entsprechend Ihrer Qualifikationen vermitteln
  wir Ihnen langfristige Einsätze bei einem
  Unternehmen, dass Ihre Fähigkeiten zu
  schätzen weiß.</p>

  <p>Sie bekommen bei uns einen unbefristeten
  Arbeitsvertrag und erhalten so
  Planungssicherheit für sich und Ihre Familie.
  Ihr Ansprechpartner unterstützt Sie dauerhaft
  bei allen Angelegenheiten und Fragen.</p>

  <p>Wir sind immer auf der Suche nach:</p>

  <div class="kompetenzbereiche">
    {% for node in berufsfelder %}

      <p><strong>{{node}}</strong><p>
      <ul>
      {% for subnode in node.jobs %}
        <li>{{subnode}}</li>
      {% endfor %}
      </ul>
    {% endfor %}
  </div>


  <p>* Die verwendete männliche Bezeichnung
  umfasst weibliche und männliche Personen. Die
  undifferenzierte Bezeichnung dient allein der
  besseren Lesbarkeit.</p>


{% endblock %}

{% block banner %}
  {% include "web/banner/green.html" with slogan="„Als vertrauenswürdiger und verlässlicher Partner setzen wir Sie entsprechend Ihren Fähigkeiten und Qualifikationen bei unseren Kundenunternehmen ein.“" %}
{% endblock %}
