{% extends "base.html" %}

{% load static %}

{% block middle_col %}

<div class="element inhalt">
  <div class="floatdiv">
    <div class="csc-header csc-header-n1">
      <h1 class="csc-firstHeader">Ihre
      Vorteile</h1>

      <p>Als Mitarbeiter bei der activjob GmbH
      erhalten Sie im Rahmen der Zeitarbeit
      eine dauerhafte, gesicherte Beschäftigung
      mit Weiterbildungsmöglichkeiten, sozialer
      Absicherung und eine individuelle
      Betreuung.</p>

      <p>Sie lernen verschiedene
      Tätigkeitsbereiche, Firmen und
      Unternehmenskulturen kennen. Dabei
      gewinnen Sie nicht nur berufliche
      Erfahrung, sondern knüpfen auch wertvolle
      Kontakte.</p>

      <p>Bei uns legen Sie sich nicht auf ein
      eng eingegrenztes Aufgabengebiet fest,
      sondern haben entsprechend Ihrer
      Berufsausbildung die Möglichkeit, durch
      wechselnde Einsätze vertiefende und
      umfangreiche Einblicke in bereits
      bekannte und neue Arbeitsfelder und
      Arbeitsprozesse zu gewinnen.</p>

      <p>Damit stärken Sie Ihre Vielseitigkeit
      und die eigene Sicherheit. In kürzester
      Zeit runden Sie Ihr Profil ab und
      gewinnen vielfältige Erfahrungen.<br />
      Ihre Chancen am Arbeitsmarkt steigen.</p>
    </div>

    <p><strong>Ihre Vorteile im
    Überblick:</strong></p>

    <ul>
      <li style="margin-left: 40px;">
      unbefristeter Arbeitsvertrag</li>

      <li style="margin-left: 40px;">festes
      Bruttogehalt zuzüglich Zulagen</li>

      <li style="margin-left: 40px;">mindestens
      tarifliche Vergütung</li>

      <li style="margin-left: 40px;">
      langfristige Arbeitseinsätze in Ihrer
      Region</li>

      <li style="margin-left: 40px;">
      anspruchsvolle und wechselnde Aufgaben in
      namhaften Unternehmen</li>

      <li style="margin-left: 40px;">
      ausführliche Informationen über Ihren
      Einsatzbetrieb</li>

      <li style="margin-left: 40px;">Chance auf
      Übernahme in ein festes
      Anstellungsverhältnis bei unserem
      Kunden</li>

      <li style="margin-left: 40px;">Urlaub
      während der Probezeit</li>

      <li style="margin-left: 40px;">
      Vermögenswirksame Leistungen</li>

      <li style="margin-left: 40px;">
      persönliche und vertrauensvolle
      Betreuung</li>

      <li style="margin-left: 40px;">
      Erreichbarkeit Ihrer Ansprechpartner auch
      außerhalb der Arbeitszeiten</li>

      <li style="margin-left: 40px;">sehr gutes
      Betriebsklima</li>

      <li style="margin-left: 40px;">
      Mitarbeiterfeiern mit Familie, z. B.
      Weihnachtsfest</li>

      <li style="margin-left: 40px;">
      tätigkeitsbezogene
      Weiterbildungsangebote</li>
    </ul>
  </div>
</div>

{% endblock %}


{% block banner %}
  {% include "web/banner/green.html"}
{% endblock %}
