{% extends "base.html" %}

{% load static %}

{% block navigation_top %}
  {% include "web/nav/nav.html" with active_tab='tab4' %}
{% endblock %}

{% block middle_col %}

<div class="element inhalt">
  <h3>Ihre Ansprechpartner im Bereich
  Arbeitnehmerüberlassung</h3>


  <p><img alt="Heiko Röhrich" src=
  "res/Ansprechpartner/Heiko.R%c3%b6hrich.jpg" style=
  "width: 150px; float: right;"
  title="Heiko Röhrich" /><strong>Heiko
  Röhrich</strong><br />
  Technischer Leiter<br />
  Telefon: 03591 351399-0&nbsp;<br />
  E-Mail: <a href=
  "javascript:mt('heiko.roehrich','activ-job.com','','')">
  heiko.roehrich@activ-job.com</a><br />
  &nbsp;</p>
</div>

<div class="element inhalt">
  <p>&nbsp;</p>

  <p><strong>Katrin Leuteritz</strong><img alt=
  "" src="res/Ansprechpartner/Katrin.Leuteritz.jpg"
  style=
  "width: 150px; float: right;" /><br />

  Teamleiterin, Dresden<br />
  Telefon: 0351 2502088-38&nbsp;<br />
  E-Mail: <a href=
  "javascript:mt('katrin.leuteritz','activ-job.com','','')">
  katrin.leuteritz@activ-job.com</a><br />
  &nbsp;</p>

  <p>&nbsp;</p>
</div>

<div class="element inhalt">
  <p><strong>Karla Wirth</strong> <img alt=
  "Karla Wirth" src=
  "res/Ansprechpartner/Karla.Wirth.jpg"
  style="width: 150px; float: right;" /><br />
  Personaldisponentin, Dresden<br />
  Telefon: 0351 2502088-222<br />
  E-Mail: <a href=
  "javascript:mt('karla.wirth','activ-job.com','','')">
  karla.wirth@activ-job.com</a></p>

  <p>&nbsp;</p>

<div class="element inhalt">
  <p><strong>Romy Knüpfer</strong> <img alt=""
  src="res/Ansprechpartner/Romy.Kn%c3%bcpfer.jpg"
  style="width: 150px; float: right;" />
  <br />
  Teamleiterin, Leipzig<br />
  Telefon: 0341 303792-13<br />
  E-Mail: <a href=
  "javascript:mt('romy.knuepfer','activ-job.com','','')">
  romy.knuepfer@activ-job.com</a></p>

  <p><br />
  &nbsp;</p><!--</div>

<div class="element inhalt">-->

  <p><strong>Michael Hempel</strong> <img alt=
  "Michael Hempel" src=
  "res/Ansprechpartner/Michael.Hempel.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Personaldisponent, Leipzig<br />
  Telefon: 0341 303792-15<br />
  E-Mail: <a href=
  "javascript:mt('michael.hempel','activ-job.com','','')">
  michael.hempel@activ-job.com</a></p>

  <p>&nbsp;</p>

  <p><strong>André Fischer</strong><img alt=""
  src="res/Ansprechpartner/Andr%c3%a9.Fischer.jpg" style=
  "width: 150px; float: right;" /><br />

  Teamleiter, Chemnitz<br />
  Telefon: 0371 4937582-12<br />
  E-Mail: <a href=
  "javascript:mt('andre.fischer','activ-job.com','','')">
  andre.fischer@activ-job.com</a></p>

  <p>&nbsp;</p><!--</div>

<div class="element inhalt">-->

  <p><strong>Peter Meyer</strong> <img alt=
  "Peter Meyer" src=
  "res/Ansprechpartner/Peter.Meyer.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Vertrieb, Chemnitz<br />
  Telefon: 0371 4937582-44<br />
  E-Mail: <a href=
  "javascript:mt('peter.meyer','activ-job.com','','')">
  peter.meyer@activ-job.com</a></p>

  <p>&nbsp;</p><!--</div>

<div class="element inhalt">-->

  <p><strong>Nancy Germo</strong> <img alt=
  "Nancy Germo" src=
  "res/Ansprechpartner/Nancy.Germo.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Vertrieb, Chemnitz<br />
  Telefon: 0371 4937582-11<br />
  E-Mail: <a href=
  "javascript:mt('nancy.germo','activ-job.com','','')">
  nancy.germo@activ-job.com</a></p>

  <p>&nbsp;</p>

  <p><strong>Julia Altekrüger</strong> <img alt=
  "Julia Altekrüger" src=
  "res/Ansprechpartner/Julia.Altekr%c3%bcger.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Personaldisponentin, Chemnitz<br />
  Telefon: 0371 4937582-13<br />
  E-Mail: <a href=
  "javascript:mt('julia.altekrueger','activ-job.com','','')">
  julia.altekrueger@activ-job.com</a></p>

  <p>&nbsp;</p>


  <p><strong>Claudia Siegl</strong> <img alt=
  "Claudia Siegl" src=
  "res/Ansprechpartner/Claudia.Siegl.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Personaldisponentin, Leipzig<br />
  Telefon: 0341 303792-16<br />
  E-Mail: <a href=
  "javascript:mt('claudia.siegl','activ-job.com','','')">
  claudia.siegl@activ-job.com</a></p>

  <p>&nbsp;</p>


  <p><strong>Agnieszka Arnold</strong> <img alt=
  "Agnieszka Arnold" src=
  "res/Ansprechpartner/Agnieszka.Arnold.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Personaldisponentin, Leipzig<br />
  Telefon: 0341 303792-18<br />
  E-Mail: <a href=
  "javascript:mt('agnieszka.arnold','activ-job.com','','')">
  agnieszka.arnold@activ-job.com</a></p>

  <p>&nbsp;</p>


  <p><strong>Kerstin Nitsche</strong> <img alt=
  "Kerstin Nitsche" src=
  "res/Ansprechpartner/Kerstin.Nitsche.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Leiterin Clearingstelle, Bautzen<br />
  Telefon: 03591 351399-0<br />
  E-Mail: <a href=
  "javascript:mt('kerstin.nitsche','activ-job.com','','')">
  kerstin.nitsche@activ-job.com</a></p>

  <p>&nbsp;</p>

  <p><strong>Timo Gnieser</strong> <img alt=
  "Timo Gnieser" src=
  "res/Ansprechpartner/Timo.Gnieser.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Teamleiter, Bautzen<br />
  Telefon: 03591 351399-3<br />
  E-Mail: <a href=
  "javascript:mt('timo.gnieser','activ-job.com','','')">
  timo.gnieser@activ-job.com</a></p>

  <p>&nbsp;</p>

  <p><strong>Lutz Werner</strong> <img alt=
  "Lutz Werner" src=
  "res/Ansprechpartner/Lutz.Werner.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Personaldisponent, Bautzen<br />
  Telefon: 03591 351399-45<br />
  E-Mail: <a href=
  "javascript:mt('lutz.werner','activ-job.com','','')">
  lutz.werner@activ-job.com</a></p>

  <p>&nbsp;</p>

  <p><strong>Anke Wassermann</strong> <img alt=
  "Anke Wassermann" src=
  "res/Ansprechpartner/Anke.Wassermann.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Teamleiterin Empfang, Dresden<br />
  Telefon: 0351 2502088-0<br />
  E-Mail: <a href=
  "javascript:mt('anke.wassermann','activ-job.com','','')">
  anke.wassermann@activ-job.com</a></p>

  <p>&nbsp;</p>

   <p><strong>Evelyn Würzburg</strong> <img alt=
  "Evelyn Würzburg" src=
  "res/Ansprechpartner/Evelyn.W%c3%bcrzburg.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Mitarbeiterin Empfang, Dresden<br />
  Telefon: 0351 2502088-0<br />
  E-Mail: <a href=
  "javascript:mt('evelyn.wuerzburg','activ-job.com','','')">
  evelyn.wuerzburg@activ-job.com</a></p>

  <p>&nbsp;</p>

  <p><strong>Bärbel Meßinger</strong> <img alt=
  "Bärbel Meßinger" src=
  "res/Ansprechpartner/B%c3%a4rbel.Me%c3%9finger.jpg"
  style=
  "width: 150px; float: right;" />
  <br />
  Mitarbeiterin Empfang, Chemnitz<br />
  Telefon: 0371 4937582-0<br />
  E-Mail: <a href=
  "javascript:mt('baerbel.messinger','activ-job.com','','')">
  baerbel.messinger@activ-job.com</a></p>

  <p>&nbsp;</p>

</div>
</div>

{% endblock %}

{% block left_col %}

{% include "web/nav/left_col_menu_applicant.html" with active_tab='left_tab4' %}

{% endblock %}
