{% extends "base.html" %}

{% load static %}

{% block navigation_top %}
  {% include "web/nav/nav.html" with active_tab='tab4' %}
{% endblock %}

{% block middle_col %}

<div class="element inhalt">
  <div class="floatdiv">
    <h3>Berufsfelder und Einsatzgebiete</h3>

    <p>Als Jobvermittler nimmt activjob Ihnen
    die Arbeitssuche ab. Wir nehmen Sie mit
    Ihren persönlichen Stärken in unsere
    Datenbank auf, offerieren Ihnen
    Jobangebote, die sich an Ihren Fähigkeiten
    orientieren und vermitteln Sie an freie
    Stellen in namhaften Unternehmen.</p>

    <p>Wir sind jederzeit auf der Suche nach
    qualifizierten Fachkräften und Helfern aus
    den folgenden Bereichen:*</p>

    <p style="margin-left: 40px;"><strong>Wach-
    und Sicherheitsgewerbe, z. B.</strong></p>

    <ul>
      <li style="margin-left: 80px;">
      Sicherheitsfachkräfte</li>

      <li style="margin-left: 80px;">Aufsichten
      für Museen</li>
    </ul>

    <p style="margin-left: 40px;">
    <strong>Hotel- und Gastgewerbe, z.
    B.</strong></p>

    <ul>
      <li style="margin-left: 80px;">Hotel- und
      Restaurantfachkräfte</li>

      <li style="margin-left: 80px;">Köche und
      Küchenhilfskräfte</li>
    </ul>

    <p style="margin-left: 40px;">
    <strong>Spedition und Logistik, z.
    B.</strong></p>

    <ul>
      <li style="margin-left: 80px;">
      Kraftfahrer und Disponenten</li>

      <li style="margin-left: 80px;">
      Lagerhelfer</li>
    </ul>

    <p style="margin-left: 40px;">
    <strong>Handel und Dienstleistungen, z.
    B.</strong></p>

    <ul>
      <li style="margin-left: 80px;">
      Backwarenfachverkäufer</li>

      <li style="margin-left: 80px;">
      Fleischwarenverkäufer</li>

      <li style="margin-left: 80px;">Fachkräfte
      im Einzelhandel</li>
    </ul>

    <p style="margin-left: 40px;">
    <strong>Bahndienstleistungen, z.
    B.</strong></p>

    <ul>
      <li style="margin-left: 80px;">
      Sicherungsposten (SIPO/SAKRA, BÜP,
      Bediener AWS)</li>

      <li style="margin-left: 80px;">
      technisches Bahnpersonal</li>

      <li style="margin-left: 80px;">technische
      Führungskräfte</li>

      <li style="margin-left: 80px;">
      Bahnlogistiker</li>
    </ul>

    <p style="margin-left: 40px;"><strong>Bau-
    und Baunebengewerbe, z. B.</strong></p>

    <ul>
      <li style="margin-left: 80px;">
      Baufachkräfte</li>

      <li style="margin-left: 80px;">
      Bauhelfer</li>
    </ul>

    <p style="margin-left: 40px;">
    <strong>Facilitymanagement, z.
    B.</strong></p>

    <ul>
      <li style="margin-left: 80px;">
      Reinigungskräfte</li>

      <li style="margin-left: 80px;">
      Hauswirtschaftskräfte</li>
    </ul>

    <p style="margin-left: 40px;">
    <strong>Gesundheitswesen</strong></p>

    <ul>
      <li style="margin-left: 80px;">Kranken-
      und Altenpflegekräfte</li>
    </ul>

    <p>&nbsp;</p>

    <p>* Die verwendete männliche Bezeichnung
    umfasst weibliche und männliche Personen.
    Die undifferenzierte Bezeichnung dient
    allein der besseren Lesbarkeit.</p>
  </div>

  <p>&nbsp;</p>
</div>

{% endblock %}

{% block left_col %}

{% include "web/nav/left_col_menu_applicant.html" with active_tab='left_tab13' %}

{% endblock %}
