{% extends "base.html" %}

{% load static %}

{% block title %}
Fragen und Antworten zum Vermittlungsgutschein (VGS){{ block.super }}
{% endblock %}

{% block middle_col %}

<div class="element inhalt">
  <div class="floatdiv">
    <div class="csc-header csc-header-n1">
      <h1 class="csc-firstHeader">Antworten auf
      Ihre Fragen</h1>

      <p class="bodytext"><b>Wer trägt die
      Kosten der Vermittlung?</b></p>

      <p class="bodytext">Nach Abschluss eines
      Arbeitsvertrages wird ein
      Vermittlungshonorar fällig. Es besteht
      dabei die Möglichkeit, mit einem gültigen
      Aktivierungs- und Vermittlungsgutschein
      (AVGS) der Bundesagentur für Arbeit, der
      Jobcenter oder Landratsämter zu zahlen.
      In manchen Fällen übernimmt der
      Arbeitgeber das Honorar.</p>

      <p class="bodytext"><b>Wer bekommt einen
      Aktivierungs- und
      Vermittlungsgutschein?</b></p>

      <p class="bodytext">Alle Menschen, die
      bei ihrem zuständigen Leistungsträger
      arbeitsuchend gemeldet sind, können einen
      AVGS beantragen. Dazu gehören neben
      Empfängern von ALG I (hier nach 6 Wochen
      Rechtsanspruch) und ALG II unter anderem
      auch:</p>

      <ul>
        <li class="bodytext">arbeitsuchend
        gemeldete Nichtleistungsempfänger</li>

        <li class="bodytext">Selbständige oder
        Berufsrückkehrer</li>

        <li class="bodytext">Studenten und
        Auszubildende auf Jobsuche</li>

        <li class="bodytext">Soldaten bei
        Beendigung des Wehrdienstes</li>

        <li class="bodytext">Beschäftigte in
        Transfer- und
        Auffanggesellschaften</li>
      </ul>

      <p class="bodytext"><b>Was muss ich tun,
      um einen Aktivierungs- und
      Vermittlungsgutschein zu
      bekommen?</b></p>

      <p class="bodytext">Der AVGS wird beim
      zuständigen Leistungsträger
      (Arbeitsagentur, Jobcenter, Landkreis
      etc.) beantragt.</p>

      <p class="bodytext"><b>Wie lang ist der
      AVGS gültig?</b></p>

      <p class="bodytext">Der AVGS kann
      regional und zeitlich befristet werden,
      gilt aber in der Regel für bis zu sechs
      Monate, solange keine Umstände eintreten,
      die einen Wegfall der Anspruchsgrundlage
      begründen (z. B. Arbeitsaufnahme, Wechsel
      von ALG I in ALG II oder Beendigung der
      Arbeitssuche).</p>

      <p class="bodytext"><b>Warum sollte ich
      mich durch activjob vermitteln
      lassen?</b></p>

      <p class="bodytext">Die Vermittlung über
      unsere private Personalfachvermittlung
      ist nicht DIE, sondern EINE Möglichkeit,
      in Arbeit zu kommen. Professionell suchen
      wir unveröffentlichte/verdeckte
      Stellenangebote, erarbeiten ein
      Stellenprofil und gleichen dieses mit
      Ihrem Bewerberprofil ab. Decken sich
      diese, bewerben wir Sie und organisieren
      entsprechende Vorstellungsgespräche. Ziel
      ist es, Sie in ein
      versicherungspflichtiges
      Arbeitsverhältnis Ihrer Wahl von
      mindestens 15 Wochenstunden und mehr zu
      vermitteln. Dabei sind wir als
      Vermittlungsmakler beiden Seiten zur
      Loyalität verpflichtet.</p>

      <p class="bodytext"><b>Wieso soll ich für
      einen Job Geld bezahlen?</b></p>

      <p class="bodytext">Für die meisten
      Bewerber ist die Bezahlung des
      Vermittlerhonorars über einen
      Vermittlungsgutschein oder den
      Arbeitgeber geregelt. Nur ein geringer
      Anteil der Bewerber bezahlt die
      Vermittlung selbst. Haben Sie sich schon
      mal gefragt, wieso sich viele Menschen
      mit ihrem Wohnungswunsch an einen
      Wohnungsmakler wenden und dafür bezahlen?
      Er besitzt professionelle Marktkenntnisse
      und berät die Suchenden passgerecht. So
      auch wir. Unser Erfolg ist Ihr neuer
      Arbeitsvertrag und Ihre Chance auf dem
      Arbeitsmarkt.</p>
    </div>
  </div>

  <p>&nbsp;</p>
</div>

{% endblock %}

{% block banner %}
  {% include "web/banner/orange.html"}
{% endblock %}
