{% extends "base.html" %}

{% load static %}

{% block title %}
Arbeitsvermittlung - Vorteile für Unternehmen{{ block.super }}
{% endblock %}

{% block middle_col %}

<div class="element inhalt">
  <h3>Ihre Vorteile</h3>

  <p>Ob Sie den Wiedereinstieg suchen oder ins
  Berufsleben starten, wir vermitteln Sie
  direkt an einen festen Arbeitgeber. Als
  wegweisender Personaldienstleister stehen wir
  in permanentem Dialog mit vielen renommierten
  Unternehmen – in Ihrer Region und im gesamten
  Bundesgebiet. Nutzen Sie unser
  Karriere-Netzwerk.</p>

  <p><strong>Ihre Vorteile im
  Überblick:</strong></p>

  <ul>
    <li style="margin-left: 40px;">Mit nur
    einer Bewerbung erhalten Sie Zugang zu
    einer Vielzahl an Stellen und hervorragend
    positionierten Unternehmen. Damit erhöhen
    Sie die Chancen für Ihren
    Karrieresprung.<br />
    &nbsp;</li>

    <li style="margin-left: 40px;">Wir erkunden
    gemeinsam mit Ihnen Ihre Fähigkeiten und
    Stärken. Im Rahmen ausführlicher Gespräche
    ermitteln wir Ihre individuellen
    Vorstellungen und entwerfen ein
    persönlichkeits- und fachbezogenes Profil
    von Ihnen.<br />
    &nbsp;</li>

    <li style="margin-left: 40px;">Sie erhalten
    von uns ausschließlich Stellenangebote, die
    Ihren spezifischen Berufswünschen
    entsprechen. Zusätzlich schlagen wir Sie
    auf Wunsch bei attraktiven Unternehmen
    aktiv vor und machen uns stark für
    Sie.<br />
    &nbsp;</li>

    <li style="margin-left: 40px;">Auch die
    gezielte Vorbereitung auf Ihr
    Vorstellungsgespräch gehört zu unseren
    Leistungen. Eine Begleitung über die
    gesamte Bewerbungsphase bis hin zur
    Vertragsunterzeichnung ist für uns
    selbstverständlich.<br />
    &nbsp;</li>

    <li style="margin-left: 40px;">Sie
    vermeiden den sonst üblichen
    Bewerbungsaufwand.<br />
    Die Terminkoordination und Vereinbarung von
    Vorstellungsgesprächen stimmen wir Im
    Vorfeld mit Ihnen ab.</li>
  </ul>

  <ul>
    <li style="margin-left: 40px;">Die
    Arbeitsvermittlung ist für Sie als
    Bewerber/in in der Regel völlig
    kostenfrei.</li>
  </ul>

  <p>&nbsp;</p>
</div>

{% endblock %}

{% block banner %}
  {% include "web/banner/orange.html" with slogan="„Ein fester Ansprechpartner nimmt sich Ihrer Anliegen persönlich an und betreut Sie individuell.“" %}
{% endblock %}
