{% load static %}

<div class="element mainelement">
    <div class="element inhalt">
        <h1>Kontakt</h1>

        <p class="bodytext">activjob GmbH<br /> Telefon: 0351 2502088-0<br /> Fax: 0351 2502088-6<br /> E-Mail: <a href="javascript:mt('mail','activ-job.com','','')">
mail@activ-job.com</a></p>
    </div>

    <div class="element inhalt">

        <div id="icons">

            <a href="{% url 'unternehmensprofil' %}"  title="ISO 9001:2008"><img style="width: 106px; margin-left: -8px;" alt="ISO 9001:2008" src={% static 'images/iso.png' %}/></a>
            <a href="{% url 'unternehmensprofil' %}"  title="Geprüfte Nachhaltigkeit 2015"><img alt="Geprüfte Nachhaltigkeit 2015" src={% static 'images/dino.png' %}/></a>
            <a href="{% url 'leitbild' %}"  title="15 Jahre activjob"><img alt="15 Jahre activjob" src={% static 'images/15_jahre_activjob.png' %}/></a>

        </div>

        <div id="cert_container">
          <span>Zertifiziert nach</span>

          <ul>
              <li>ISO 9001:2008</li>
              <li>AZAV. Zulassungsnummer 490481</li>
              <li>„Geprüfte Nachhaltigkeit“ 2015</li>
          </ul>

        </div>

        <div class="feed_n_sm">
          <a href="{% url 'jobs_rss' %}"><img alt="Stellenmarkt RSS Feed" src={% static 'images/rss.jpg' %} /></a>
          <a href="http://www.facebook.com/activjob"><img alt="" src={% static 'images/facebook.png' %} /></a>
          <a href="http://www.zukunft-elite.de/" title="ZUKUNFT | ELITE."><img alt="ZE" src={% static 'images/ZE-Logo-social-29.png' %} /></a>
        </div>


    </div>
</div>
