{% load static %}

<div id="right">
    <div class="element mainelement container">
<div class="element inhalt">
<h1>Kontakt</h1>

<p class="bodytext">activjob GmbH<br />
Telefon: 0351 2502088-0<br />
Fax: 0351 2502088-6<br />
E-Mail: <a href=
"javascript:mt('mail','activ-job.com','','')">
mail@activ-job.com</a></p>
</div>

<div class="element inhalt">
<p>&nbsp;</p>

<p><a href="unternehmensprofil.html" style=
"text-decoration: none; color: rgb(155, 16, 0);"
title="ISO 9001:2008"><img alt=
"ISO 9001:2008" src={% static 'css/images/iso.png' %}
style=
"border-width: 0px; border-style: none; width: 90px; height: 74px;" /></a>
<a href="unternehmensprofil.html" style=
"text-decoration: none; color: rgb(155, 16, 0);"
title=
"Geprüfte Nachhaltigkeit 2015"><img alt="Geprüfte Nachhaltigkeit 2015"
src={% static 'css/images/dino.jpg' %} style=
"border-width: 0px; border-style: none; width: 83px; height: 86px; position: relative; top: 8px;" />
</a><br />
<span style="font-size: 80%;">Zertifiziert
nach</span></p>

<ul style=
"font-size: 80%; line-height: 1.5em">
<li>ISO 9001:2008</li>

<li>AZAV. Zulassungsnummer 490481</li>

<li>„Geprüfte Nachhaltigkeit“ 2015</li>
</ul>

<table border="0" cellpadding="1" summary=
"Link-Icons" cellspacing="0" style=
"width: 80px; height: 36px;">
<tbody>
<tr>
<td><a href="Jobs/Jobs.xml" style=
"text-decoration: none; color: rgb(155, 16, 0);">
<img alt="Stellenmarkt RSS Feed" src=
{% static 'css/images/rss.jpg' %} style=
"border-width: 0px; border-style: none; width: 29px; height: 29px;" /></a></td>

<td style="text-align: left;"><a href=
"http://www.facebook.com/activjob"><img alt=""
src={% static 'css/images/facebook.png' %}
style=
"border-style: none; width: 29px; height: 29px;" /></a></td>

<td style="text-align: left;"><a href=
"http://www.zukunft-elite.de/" title=
"ZUKUNFT | ELITE."><img alt="ZE" src={% static 'css/images/ZE-Logo-social-29.png' %}
style=
"border-style: none; width: 29px; height: 29px;" /></a></td>
</tr>
</tbody>
</table>

<p>&nbsp;</p>
</div>
</div>
</div>
