{% extends "base.html" %}

{% load static %}

{% block navigation_top %}
  {% include "web/nav/nav.html" with active_tab='tab1' %}
{% endblock %}

{% block page_content %}


<div id="inhalt">
  <div id="left">
    <div class="element mainelement container">
      <div class="element inhalt">
        <h1>Über uns</h1>

        <p>Herzlich Willkommen bei der activjob GmbH
        – Ihrem erfahrenen Dienstleister für alle
        Bereiche der modernen Personalarbeit.</p>

        <ul>
          <li><a href=
          "unternehmensprofil.html">Unternehmensprofil</a></li>

          <li><a href=
          "leitbild.html">Leitbild</a></li>

          <li><a href=
          "standorte.html">Standorte</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="main1">
    <div class="element mainelement container">
      <div class="element inhalt">
        <h1>Für Unternehmen</h1>

        <p>Wir haben unser Leistungsspektrum optimal
        auf den aktuellen Personalbedarf von
        Unternehmen abgestimmt.</p>

        <ul>
          <li><a href=
          "arbeitnehmerueberlassung.html">Arbeitnehmerüberlassung</a></li>

          <li><a href=
          "personalvermittlung.html">Personalvermittlung</a></li>

          <li><a href=
          "arbeitsvermittlung.html">Arbeitsvermittlung</a></li>

          <li><a href=
          "personalanfrage.html">Personalanfrage</a></li>

          <li><a href=
          "personalauswahl.html">Personalauswahl</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="main2">
    <div class="element mainelement container">
      <div class="element inhalt">
        <h1>Für Bewerber</h1>

        <p>Egal ob Sie sich für ein&nbsp;
        Arbeitsverhältnis im Rahmen der Zeitarbeit
        oder einen Direkteinstieg interessieren, wir
        sind Ihr Ansprechpartner.</p>

        <ul>
          <li><a href=
          "bewerber_zeitarbeit.html">Arbeitnehmerüberlassung</a></li>

          <li><a href=
          "bewerber_personalvermittlung.html">Personalvermittlung</a></li>

          <li><a href=
          "bewerber_arbeitsvermittlung.html">Arbeitsvermittlung</a></li>

          <li><a href=
          "karriereberatung.html">Karriereberatung</a></li>

          <li><a href=
          "stellenmarkt-2.html">Stellenmarkt</a></li>

          <li><a href=
          "karriere_activjob.html">Karriere bei
          activjob</a></li>
        </ul>
      </div>
    </div>
  </div>


</div>


{% endblock %}
