{% extends "base.html" %}

{% load static %}

{% block middle_col %}
<div class="element inhalt">
  <h1>Impressum</h1>

  <p>activjob GmbH<br />
  Hauptsitz:<br />
  Reichenbachstraße 55<br />
  01069 Dresden</p>

  <p>Telefon: 0351 2502088-0<br />
  Fax: 0351 2502088-6<br />
  E-Mail: <a href=
  "javascript:mt('mail','activ-job.com','','')">
  mail@activ-job.com</a></p>

  <p><strong>Geschäftsführer:</strong><br />
  Dipl.-Ing. Roland Nitsche, Dipl.-Soz.-Päd. Steffen Stolze</p>

  <p><strong>Prokura:</strong><br />
  Dipl.-Ing. Monika Tappert, Heiko Röhrich</p>

  <p><strong>Registergericht:</strong><br />
  Dresden HRB 20762</p>

  <p>Die Umsatzsteuer-Identifikationsnummer der
  activjob GmbH<br />
  gemäß § 27 Umsatzsteuergesetz ist
  DE222097443</p>

  <p><br />
  <strong>Rechtshinweis:</strong></p>

  <p>Die activjob GmbH prüft und aktualisiert
  die Informationen auf ihren Webseiten
  ständig. Trotz aller Sorgfalt können sich die
  Daten inzwischen verändert haben. Eine
  Haftung oder Garantie für die Aktualität,
  Richtigkeit und Vollständigkeit der zur
  Verfügung gestellten Informationen kann daher
  nicht übernommen werden. Gleiches gilt auch
  für alle anderen Websites auf die mittels
  Hyperlinks verwiesen wird. Die activjob GmbH
  ist für den Inhalt der Websites, die aufgrund
  einer solchen Verbindung erreicht werden,
  nicht verantwortlich. Des Weiteren behält
  sich die activjob GmbH das Recht vor,
  Änderungen oder Ergänzungen der
  bereitgestellten Informationen vorzunehmen.
  Inhalt und Struktur der Websites der activjob
  GmbH sind urheberrechtlich geschützt. Die
  Vervielfältigung von Informationen oder
  Daten, insbesondere die Verwendung von
  Texten, Textteilen oder Bildmaterial bedarf
  der vorherigen Zustimmung der activjob
  GmbH.</p>

  <p>&nbsp;</p>

  <p><strong>Statistische Auswerung mit
  PIWIK</strong></p>

  <p>Zur statistischen Auswertung der
  Besucherzahlen greift diese Website auf die
  Open-Source-Software PIWIK zurück. PIWIK
  basiert auf der Verwendung von Cookies. Dabei
  handelt es sich um Textdateien, die eine
  Prüfung über Ihre Verwendung der Website
  möglich macht. Die gesammelten Informationen
  des Cookies werden auf Ihrem PC gespeichert
  und anschließend auf dem deutschen Server des
  Anbieters abgelegt. Die IP-Adresse wird noch
  vor der Datensicherung und sofort nach der
  Datenübermittlung anonymisiert. Natürlich
  können Sie im Einstellungsmenü Ihres Browsers
  die Nutzung der Cookies blockieren. Bitte
  beachten Sie, dass daraufhin nicht alle
  Funktionen der Website für Sie zugänglich
  sind.</p>

  <p>&nbsp;</p>
</div>

{% endblock %}
