{% extends "base.html" %}

{% load static %}

{% block title %}
Karriere in Dresden, Leipzig, Chemnitz und Bautzen{{ block.super }}
{% endblock %}

{% block middle_col %}

<div class="element inhalt">
  <h1>Arbeiten bei activjob</h1>

  <p>Wir freuen uns, dass Sie sich für die
  internen Positionen in unserem Unternehmen
  interessieren.</p>

  <p>Gewinnen Sie einen Eindruck von den
  Vorteilen als zukünftiger Mitarbeiter und
  informieren Sie sich über die internen
  Einstiegsmöglichkeiten.</p>
</div>

<div id="jobs_table" style="margin-top:10px">
  {% comment %}This is deprecated {% endcomment %}
  {% include "web/pages/stellenmarkt/stellenmarkt-table.html" %}
</div>

{% endblock %}
