{% extends "base.html" %}

{% load static %}

{% block title %}
Karriereberatung für Bewerber und Kandidaten{{ block.super }}
{% endblock %}

{% block middle_col %}

<div class="element inhalt">
  <h1>Karriereberatung – ein Weg zu beruflichem
  Erfolg</h1>

  <p>Nutzen Sie die Chance, Ihr Leben und Ihre
  Karriere neu auszurichten und herauszufinden,
  was wirklich in Ihnen steckt – machen Sie
  sich zu einer unverwechselbaren Marke. Unsere
  erfahrenen Berater begleiten Sie in diesem
  Prozess.</p>

  <p>In einem ersten Schritt bestimmen wir Ihre
  derzeitige Situation. Gemeinsam finden wir im
  zweiten Schritt heraus, was Ihre Potentiale
  und Kompetenzen sind. Das ist die Basis zur
  Definierung Ihres idealen Berufsfeldes und
  der Formulierung Ihrer
  Bewerbungsunterlagen.</p>

  <p>Gern beraten wir Sie zielgerichtet zu
  Ihren Karriereschritten und leiten Sie an.
  Ein direktes Feedback zu Ihrer Person sowie
  zu dem Weg, den Sie beschreiten wollen, hilft
  Ihnen bei der erfolgreichen Verwirklichung
  Ihrer beruflichen Ziele.</p>

  <p>Ob die Erstellung Ihrer
  Bewerbungsunterlagen oder die Vorbereitung
  auf ein anstehendes Vorstellungsgespräch –
  wir unterstützen Sie in allen Fragen Ihrer
  Karriere.</p>

  <p>Kontaktieren Sie uns per E-Mail oder rufen
  Sie uns an.<br />
  Wir freuen uns darauf, Sie
  kennenzulernen.<br />
  &nbsp;</p>
</div>

<div class="element inhalt">
  {% for node in ansprechpartner.contacts.all %}
  <div>
    <strong>{{node.first_name}} {{node.last_name}}</strong>
    <img alt="{{node.name}}" src="{% static "Ansprechpartner/" %}{{ node.imageurl }}" class="contact_person_image" />
    <p>
      {{node.status}}<br />
      Telefon: {{node.phone}}<br />
      E-Mail: <a href="mailto:{{node.mail}}">{{node.mail}}</a>
    </p>
    <p><br />
    &nbsp;</p>
  </div>
  {% endfor %}
</div>

{% endblock %}
