{% extends "base.html" %}

{% load static %}


{% block middle_col %}

<div class="element inhalt">
  <h1>Arbeiten bei activjob</h1>

  <p>Wir freuen uns, dass Sie sich für die
  internen Positionen in unserem Unternehmen
  interessieren.</p>

  <p>Gewinnen Sie einen Eindruck von den
  Vorteilen als zukünftiger Mitarbeiter und
  informieren Sie sich über die internen
  Einstiegsmöglichkeiten.</p>
</div>

<div class="element mainelement DatenListe">
  <table class="sort">
  <tr>
<th class="col1">Stelle</th><th class="col2">Einsatzort</th></tr><tr><td class="col1"><a href="Jobs/stellenmarkt-13700_Mitarbeiter_Controlling.html">Mitarbeiter Controlling (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-13700_Mitarbeiter_Controlling.html">Dresden</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-13688_PRAKTIKUM_WERKSTUDENTENTAETIGKEIT_im_Bereich_Controlling.html">PRAKTIKUM / WERKSTUDENTENTÄTIGKEIT im Bereich Controlling (m/w) </a></td><td class="col2"><a href="Jobs/stellenmarkt-13688_PRAKTIKUM_WERKSTUDENTENTAETIGKEIT_im_Bereich_Controlling.html">Dresden, Chemnitz, Bautzen oder Leipzig</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-13689_PRAKTIKUM_im_Bereich_Personaldienstleistung_Personalrecruiting.html">PRAKTIKUM im Bereich Personaldienstleistung/ Personalrecruiting (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-13689_PRAKTIKUM_im_Bereich_Personaldienstleistung_Personalrecruiting.html">Dresden</a></td></tr>

  </table>
</div>

{% endblock %}
