{% extends "base.html" %}

{% load static %}

{% block title %}
{{ kompetenzbereich.title }}{{ block.super }}
{% endblock %}

{% block middle_col %}

<h3>{{ kompetenzbereich.subtitle }}</h3>

</br>
<div>{{ kompetenzbereich.text }}</div>
</br>
<div>
  {% for node in kompetenzbereich.bereich_set.all %}

    <p><strong>{{ node.title }}</strong><p>
      <div class="inhalt further_right_list">
        <ul>
          {% for subnode in node.job_set.all %}
            <li>
              {{ subnode.name }}
            </li>
          {% endfor %}
        </ul>
      </div>
  {% endfor %}
</div>
</br>
<p>* Die verwendete männliche Bezeichnung
umfasst weibliche und männliche Personen. Die
undifferenzierte Bezeichnung dient allein der
besseren Lesbarkeit.</p>



{% endblock %}

{% block banner %}
    {% include "web/banner/banner.html" with slogan=object.banner_slogan color=object.banner_color %}
{% endblock %}
