{% extends "base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block title %}
Kontakt{{ block.super }}
{% endblock %}

{% block middle_col %}


      <div class="inhalt">
        <h1>Kontakt</h1>

        <p>Sie haben Fragen zu unseren
        Dienstleistungen? Kontaktieren Sie uns.<br />
        Wir setzen uns umgehend mit Ihnen in
        Verbindung.</p>
      </div>

      <div class=
      "kontaktFormular">

        <form action="{% url 'kontakt' %}" method="post"
        enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form layout="inline" %}

          <div class="submit">
            <input class="form-control" type="submit" class="savebutton"
            value="Senden" />
          </div>
        </form>
      </div>

{% endblock %}
