{% extends "base.html" %}

{% load static %}

{% block navigation_top %}
  {% include "web/nav/nav.html" with active_tab='tab2' %}
{% endblock %}

{% block middle_col %}


      <div class="element inhalt">
        <h1>Kontakt</h1>

        <p>Sie haben Fragen zu unseren
        Dienstleistungen? Kontaktieren Sie uns.<br />
        Wir setzen uns umgehend mit Ihnen in
        Verbindung.</p>
      </div>

      <div class=
      "element mainelement kontaktFormular">
        <div id="sessionId" style="display: none">
          77c43206a695b71187a2ebf2d8787ce8f565f45d
        </div>

        <form action="http://www.activ-job.com/kontakt.html" method="post"
        enctype="multipart/form-data">
          <div>
            <div class="formcontent time" id=
            "nrkontakt861">
              <input type="hidden" name="time" value=
              "1392808168" />
            </div>

            <div class="formcontent seitenTitel" id=
            "nrkontakt862">
              <input type="hidden" name="seitenTitel"
              value="Kontakt" />
            </div>

            <div class="formcontent formId" id=
            "nrkontakt863">
              <input type="hidden" name="formId"
              value="86" />
            </div>

            <div class="formcontent 87" id=
            "nrkontakt864">
              <span class="fieldname">Name*:</span>

              <div class="element formularzeile">
                <div class="formcontent 87" id=
                "nrkontakt1">
                  <input type="text" name="87" value=
                  "" />
                </div>
              </div>
            </div>

            <div class="formcontent 88" id=
            "nrkontakt865">
              <span class=
              "fieldname">Vorname*:</span>

              <div class="element formularzeile">
                <div class="formcontent 88" id=
                "nrkontakt1">
                  <input type="text" name="88" value=
                  "" />
                </div>
              </div>
            </div>

            <div class="formcontent 89" id=
            "nrkontakt866">
              <span class="fieldname">Firma:</span>

              <div class="element formularzeile">
                <div class="formcontent 89" id=
                "nrkontakt1">
                  <input type="text" name="89" value=
                  "" />
                </div>
              </div>
            </div>

            <div class="formcontent 90" id=
            "nrkontakt867">
              <span class="fieldname">E-Mail*:</span>

              <div class="element formularzeile">
                <div class="formcontent 90" id=
                "nrkontakt1">
                  <input type="text" name="90" value=
                  "" />
                </div>
              </div>
            </div>

            <div class="formcontent 91" id=
            "nrkontakt868">
              <span class=
              "fieldname">Betreff*:</span>

              <div class="element formularzeile">
                <div class="formcontent 91" id=
                "nrkontakt1">
                  <input type="text" name="91" value=
                  "" />
                </div>
              </div>
            </div>

            <div class="formcontent 92" id=
            "nrkontakt869">
              <span class="fieldname">Ihre
              Mitteilung*:</span>

              <div class="element formularzeile">
                <div class="formcontent 92" id=
                "nrkontakt1">
                  <div>
                    <textarea name="92">
</textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="submit">
            <input type="submit" name=
            "submitkontakt86" class="savebutton"
            value="Senden" />
          </div>
        </form>
      </div>

{% endblock %}

{% block left_col %}

{% include "web/nav/left_col_menu_about.html" with active_tab='left_tab4' %}

{% endblock %}
