{% extends "base.html" %}

{% load static %}

{% block navigation_top %}
  {% include "web/nav/nav.html" with active_tab='tab2' %}
{% endblock %}

{% block middle_col %}

<h3>15 Jahre<br>Erfolg mit Leidenschaft</h3>

<p>Als moderner Personaldienstleister
arbeiten wir mit dem ganzheitlichen Ansatz,
Unternehmen und Mitarbeitern eine passende
und individuelle Lösung zu bieten. Mit
genauer Auftragsanalyse und einem
professionellen Personalprofiling vermitteln
wir unseren Kunden Personal, das fachlich und
menschlich die vakante Position ausfüllt.</p>

<p>Unser Ziel ist es, Sie mit sympathischen
Persönlichkeiten zu unterstützen, die sich
mit Vorfreude und Leistungsbereitschaft für
einen Einsatz in Ihrem Unternehmen
entschieden haben.</p>

<p>Besonderen Wert legen wir auf eine
nachhaltige, vertrauensvolle Betreuung und
Weiterentwicklung unserer Mitarbeiter. Durch
interne und externe Ausbildungen, regelmäßige
Schulungsangebote sowie Einzel- und
Teamcoachings sichern wir ein hohes Niveau
und fördern unsere Disponenten und Recruiter gezielt für
Ihren Bedarf. Das Thema Arbeitssicherheit und
Gesundheitsschutz unserer Mitarbeiter hat bei uns oberste
Priorität. Unser Qualitätsmanagement
garantiert Ihnen standardisierte
Arbeitsabläufe in den verschiedenen
Standorten.</p>

<p>Stets sind wir um eine kontinuierliche
Verbesserung unserer Prozesse bemüht. Wir
arbeiten strikt nach den gesetzlichen
Vorgaben des Arbeitnehmerüberlassungsgesetzes
und bezahlen unsere Leasingmitarbeiter nach
<a href="http://www.personaldienstleister.de/"
target="_blank">BAP</a>-Tarif. Das ist fair
und sorgt für Transparenz.</p>

{% endblock %}

{% block left_col %}

{% include "web/nav/left_col_menu_about.html" with active_tab='left_tab2' %}

{% endblock %}
