{% extends "base.html" %}

{% load static %}

{% block middle_col %}

<div class="element inhalt">
  <h3>Personalanfrage</h3>

  <p>Sie haben Personalbedarf oder suchen
  kurzfristig Personallösungen auf Zeit? Geben
  Sie einfach Ihre Anforderungen in unser
  Formular ein. Unsere Ansprechpartner werden
  sich umgehend bei Ihnen melden.</p>

  <p>Gerne beraten wir Sie auch persönlich.
  Wenden Sie sich hierzu bitte an einen unserer
  Ansprechpartner.</p>

  <h4>Personalanfrage:</h4>

  <p>Die mit einem * gekennzeichneten Felder
  benötigen wir, um uns schnell mit Ihnen in
  Verbindung zu setzen.</p>
</div>

<div class=
"element mainelement kontaktFormular">
  <div id="sessionId" style="display: none">
    77c43206a695b71187a2ebf2d8787ce8f565f45d
  </div>

  <form action="http://www.activ-job.com/personalanfrage.html" method=
  "post" enctype="multipart/form-data">
    <div>
      <div class="formcontent time" id=
      "nrkontakt1471">
        <input type="hidden" name="time" value=
        "1392808170" />
      </div>

      <div class="formcontent seitenTitel" id=
      "nrkontakt1472">
        <input type="hidden" name="seitenTitel"
        value="Personalanfrage" />
      </div>

      <div class="formcontent formId" id=
      "nrkontakt1473">
        <input type="hidden" name="formId"
        value="147" />
      </div>

      <div class="formcontent 148" id=
      "nrkontakt1474">
        <span class="fieldname">Firma*:</span>

        <div class="element formularzeile">
          <div class="formcontent 148" id=
          "nrkontakt1">
            <input type="text" name="148"
            value="" />
          </div>
        </div>
      </div>

      <div class="formcontent 149" id=
      "nrkontakt1475">
        <span class=
        "fieldname">Vorname*:</span>

        <div class="element formularzeile">
          <div class="formcontent 149" id=
          "nrkontakt1">
            <input type="text" name="149"
            value="" />
          </div>
        </div>
      </div>

      <div class="formcontent 150" id=
      "nrkontakt1476">
        <span class=
        "fieldname">Nachname*:</span>

        <div class="element formularzeile">
          <div class="formcontent 150" id=
          "nrkontakt1">
            <input type="text" name="150"
            value="" />
          </div>
        </div>
      </div>

      <div class="formcontent 151" id=
      "nrkontakt1477">
        <span class=
        "fieldname">Straße/Hausnummer*:</span>

        <div class="element formularzeile">
          <div class="formcontent 151" id=
          "nrkontakt1">
            <input type="text" name="151"
            value="" />
          </div>
        </div>
      </div>

      <div class="formcontent 152" id=
      "nrkontakt1478">
        <span class=
        "fieldname">PLZ/Ort:*:</span>

        <div class="element formularzeile">
          <div class="formcontent 152" id=
          "nrkontakt1">
            <input type="text" name="152"
            value="" />
          </div>
        </div>
      </div>

      <div class="formcontent 153" id=
      "nrkontakt1479">
        <span class=
        "fieldname">Telefon*:</span>

        <div class="element formularzeile">
          <div class="formcontent 153" id=
          "nrkontakt1">
            <input type="text" name="153"
            value="" />
          </div>
        </div>
      </div>

      <div class="formcontent 154" id=
      "nrkontakt14710">
        <span class="fieldname">E-Mail*:</span>

        <div class="element formularzeile">
          <div class="formcontent 154" id=
          "nrkontakt1">
            <input type="text" name="154"
            value="" />
          </div>
        </div>
      </div>

      <div class="formcontent 155" id=
      "nrkontakt14711">
        <span class=
        "fieldname">Bedarf/Beruf:</span>

        <div class="element formularzeile">
          <div class="formcontent 155" id=
          "nrkontakt1">
            <input type="text" name="155"
            value="" />
          </div>
        </div>
      </div>

      <div class="formcontent 156" id=
      "nrkontakt14712">
        <span class=
        "fieldname">Zusatzqualifikation:</span>

        <div class="element formularzeile">
          <div class="formcontent 156" id=
          "nrkontakt1">
            <input type="text" name="156"
            value="" />
          </div>
        </div>
      </div>

      <div class="formcontent 157" id=
      "nrkontakt14713">
        <span class=
        "fieldname">Einsatzort/Gebiet:</span>

        <div class="element formularzeile">
          <div class="formcontent 157" id=
          "nrkontakt1">
            <input type="text" name="157"
            value="" />
          </div>
        </div>
      </div>

      <div class="formcontent 158" id=
      "nrkontakt14714">
        <span class=
        "fieldname">Einsatzbeginn:</span>

        <div class="element formularzeile">
          <div class="formcontent 158" id=
          "nrkontakt1">
            <input type="text" name="158"
            value="" />
          </div>
        </div>
      </div>
    </div>

    <div class="submit">
      <input type="submit" name=
      "submitkontakt147" class="savebutton"
      value="Senden" />
    </div>
  </form>
</div>

{% endblock %}
