{% extends "base.html" %}

{% load static %}

{% block title %}
Referenzen in der Personalvermittlung{{ block.super }}
{% endblock %}

{% block middle_col %}

<h1>Ein Auszug unserer Referenzprojekte</h1>

<p>Unsere Personalvermittler arbeiten mit
einer Reihe von Unternehmen engagiert und
vertrauensvoll zusammen. Auskünfte über
eine Zusammenarbeit mit uns erhalten Sie
von den Ansprechpartnern unserer Kunden.
Gern nennen wir Ihnen diese in einem
persönlichen Gespräch.</p>

<p>Folgende Referenzprojekte konnten wir
erfolgreich abschließen:</p>

<div class="referenzen">
  {% for node in referenzen %}
    <p><b>{{node}}</b></p>
    <ul>
      {% for subnode in node.jobs %}
        <li>
          {{ subnode }}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>

<p>* Die verwendete männliche Bezeichnung
umfasst weibliche und männliche Personen.
Die undifferenzierte Bezeichnung dient
allein der besseren Lesbarkeit.</p>

<p><a href="{% url 'referenzen' %}">aktuelle
Vermittlungsprojekte</a></p>


{% endblock %}


{% block banner %}
  {% include "web/banner/banner.html" with slogan="„Wir vermitteln Mitarbeiter, die nicht nur Ihren fachlichen Anforderungen entsprechen, sondern mit Leidenschaft und Enthusiasmus bei der Arbeit sind.“" color="blue" %}
{% endblock %}
