{% extends "base.html" %}

{% load static %}

{% block navigation_top %}
  {% include "web/nav/nav.html" with active_tab='tab3' %}
{% endblock %}

{% block middle_col %}

<div class="csc-header csc-header-n1">
  <h1 class="csc-firstHeader">Ein Auszug
  unserer Referenzprojekte</h1>
</div>

<p>Unsere Personalvermittler arbeiten mit
einer Reihe von Unternehmen engagiert und
vertrauensvoll zusammen. Auskünfte über
eine Zusammenarbeit mit uns erhalten Sie
von den Ansprechpartnern unserer Kunden.
Gern nennen wir Ihnen diese in einem
persönlichen Gespräch.</p>

<p>Folgende Referenzprojekte konnten wir
erfolgreich abschließen:*</p>

<p class="bodytext">
<b>Informationstechnologie und
Telekommunikation</b></p>

<ul>
  <li class="bodytext" style=
  "margin-left: 40px;">
  Systemadministrator</li>

  <li class="bodytext" style=
  "margin-left: 40px;">
  Vertriebsmitarbeiter</li>

  <li class="bodytext" style=
  "margin-left: 40px;">
  Vertriebscontroller</li>

  <li class="bodytext" style=
  "margin-left: 40px;">Berater
  Mobilfunklösungen</li>

  <li class="bodytext" style=
  "margin-left: 40px;">Assistenz Bereich
  Finanzen</li>

  <li class="bodytext" style=
  "margin-left: 40px;">
  Personalsachbearbeiter</li>

  <li class="bodytext" style=
  "margin-left: 40px;">
  Call-Center-Agent</li>
</ul>

<p class="bodytext">
<b>Ingenieurwesen/Industrie und
Technik</b></p>

<ul>
  <li class="bodytext" style=
  "margin-left: 40px;">Bereichsleiter
  Bahnsicherung</li>

  <li class="bodytext" style=
  "margin-left: 40px;">
  Eisenbahnbetriebsleiter</li>

  <li class="bodytext" style=
  "margin-left: 40px;">Technischer
  Kundenberater</li>

  <li class="bodytext" style=
  "margin-left: 40px;">Assistenz der
  Geschäftsführung</li>

  <li class="bodytext" style=
  "margin-left: 40px;">Mitarbeiter
  Qualitätssicherung</li>

  <li class="bodytext" style=
  "margin-left: 40px;">Projektingenieure
  für Verkehrswesen- und
  Schienenfahrzeugtechnik</li>

  <li class="bodytext" style=
  "margin-left: 40px;">Ingenieur
  Elektrotechnik</li>

  <li class="bodytext" style=
  "margin-left: 40px;">
  Vertriebsingenieur</li>

  <li class="bodytext" style=
  "margin-left: 40px;">Projektkoordinator
  Produktentwicklung</li>

  <li class="bodytext" style=
  "margin-left: 40px;">Techniker
  Inbetriebnahme</li>

  <li class="bodytext" style=
  "margin-left: 40px;">Leiter strategisch
  und operativer Einkauf</li>

  <li class="bodytext" style=
  "margin-left: 40px;">
  Wissenschaftsingenieur</li>
</ul>

<p class="bodytext">
<b>Gesundheitswesen</b></p>

<ul>
  <li class="bodytext" style=
  "margin-left: 40px;">Examinierte
  Pflegefachkraft</li>

  <li class="bodytext" style=
  "margin-left: 40px;">
  Medizintechniker</li>

  <li class="bodytext" style=
  "margin-left: 40px;">Customer Service
  Mitarbeiter</li>

  <li class="bodytext" style=
  "margin-left: 40px;">Arzthelfer</li>

  <li class="bodytext" style=
  "margin-left: 40px;">Mitarbeiter
  Apothekenaußendienst</li>

  <li class="bodytext" style=
  "margin-left: 40px;">Pharmareferent</li>
</ul><br />

<p>* Die verwendete männliche Bezeichnung
umfasst weibliche und männliche Personen.
Die undifferenzierte Bezeichnung dient
allein der besseren Lesbarkeit.</p>

<p><a href="referenzen.html">aktuelle
Vermittlungsprojekte</a></p>


{% endblock %}

{% block left_col %}

{% include "web/nav/left_col_menu_business.html" with active_tab='left_tab6' %}

{% endblock %}

{% block banner %}
<div class="green col-md-9">>
<div id="banner">
    <h2>„Unsere Mitarbeiter sind spezialisierte
    Fachkräfte aus Ihrer Region. So kann jede
    einzelne Stelle optimal besetzt werden.“</h2>
</div>
</div>
{% endblock %}
