{% extends "base.html" %}

{% load static %}

{% block title %}
Anfrage für die Personalsuche{{ block.super }}
{% endblock %}


{% block middle_col %}

<div class="inhalt">
  <h3>Personalanfrage</h3>

  <p>Sie haben Personalbedarf oder suchen
  kurzfristig Personallösungen auf Zeit? Geben
  Sie einfach Ihre Anforderungen in unser
  Formular ein. Unsere Ansprechpartner werden
  sich umgehend bei Ihnen melden.</p>

  <p>Gerne beraten wir Sie auch persönlich.
  Wenden Sie sich hierzu bitte an einen unserer
  Ansprechpartner.</p>

  <h4>Personalanfrage:</h4>

  <p>Die mit einem * gekennzeichneten Felder
  benötigen wir, um uns schnell mit Ihnen in
  Verbindung zu setzen.</p>
</div>

<div class=
"kontaktFormular">

  <form action="{% url 'personalanfrage' %}" method="post"
  enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form layout="inline" %}

    <div class="submit">
      <input class="form-control" type="submit" class="savebutton"
      value="Senden" />
    </div>
  </form>
</div>

{% endblock %}
