{% extends "base.html" %}

{% load static %}

{% block title %}
Personalvermittlung in Sachsen und bundesweit{{ block.super }}
{% endblock %}

{% block middle_col %}

<h3>Personalvermittlung – wir finden, wen Sie
suchen</h3>

<p>Qualifizierte Fachkräfte vermitteln wir
Ihnen auch direkt.<br />
Dabei sehen wir uns als Bindeglied zwischen
Unternehmen, die Vakanzen maßgeschneidert mit
geeigneten Mitarbeitern besetzen möchten, und
Bewerbern, die einen ihrer Qualifikation
entsprechenden Arbeitsplatz suchen.</p>

<p>In einem intensiven Gespräch lernen wir
Ihr Unternehmen, die Aufgabenstellung, die
Rahmenbedingungen und Perspektiven der zu
besetzenden Stelle genau kennen. Mit diesem
präzisen Anforderungsprofil beginnen wir die
Personalsuche.</p>

<p>Dabei kommt ein Methodenmix zum Einsatz.
Dieser beinhaltet die Suche in exklusiven
Online-Datenbanken und in unserem internen
Kandidaten-Pool. Ferner schreiben wir die
Position in spezifischen Jobbörsen aus und
schalten auf Wunsch Anzeigen in allen
gängigen Print- und Onlinemedien. Ein breit
gefächertes Netzwerk ermöglicht uns, einen
erweiterten Kreis potenzieller Kandidaten zu
erschließen.</p>

<p>Konsequent im Mittelpunkt aller
Vermittlungsaktivitäten steht dabei die
partnerschaftliche Zusammenarbeit mit Ihnen –
genau wie bei der Arbeitnehmerüberlassung und
der Arbeitsvermittlung.</p>

<p><br />
<strong>Ihre Vorteile auf einen
Blick:</strong></p>

<ul>
  <li style="margin-left: 40px;">schnelle und
  effektive Besetzung Ihrer Vakanzen mit
  qualifizierten Fachkräften</li>

  <li style="margin-left: 40px;">kein zeit-
  und kostenintensiver Aufwand für
  Bewerbersuche und Vorauswahl</li>

  <li style="margin-left: 40px;">breite
  Kandidatenansprache durch umfangreiches
  Netzwerk unserer Personalvermittler</li>

  <li style="margin-left: 40px;">attraktive
  Sonderkonditionen bei der Schaltung Ihrer
  Stellenanzeigen</li>

  <li style="margin-left: 40px;">
  Konzentration auf das Kerngeschäft
  möglich</li>
</ul>


{% endblock %}

{% block banner %}
  {% include "web/banner/blue.html" %}
{% endblock %}
