{% extends "base.html" %}

{% load static %}

{% block title %}
{{ berufsfelder.title }}{{ block.super }}
{% endblock %}

{% block middle_col %}

{% for node in object_list %}
  {{ node.name }}
  <ul>
    <li>
      {{ node.job.name }}
    </li>
  </ul>
{% endfor %}

{% endblock %}

{% block banner %}
  {% include "web/banner/banner.html" with slogan="„Wir vermitteln Mitarbeiter, die nicht nur Ihren fachlichen Anforderungen entsprechen, sondern mit Leidenschaft und Enthusiasmus bei der Arbeit sind.“" color="blue" %}
{% endblock %}
