{% extends "base.html" %}

{% load static %}

{% block title %}
{{ page.title }}{{ block.super }}
{% endblock %}

{% block middle_col %}

<h1>{{ page.subtitle }}</h1>

<div>{{ page.text|linebreaks }}</div>
</br>

{% for node in page.field_set.all %}
  <strong>{{ node.name }}</strong>
  </br>
  <div class="inhalt further_right_list">
    <ul>
      {% for job in node.job_set.all %}
      <li>
        {{ job.name }}
      </li>
      {% endfor %}
    </ul>
  </div>
  </br>
{% endfor %}

{% endblock %}

{% block banner %}
  {% include "web/banner/banner.html" with slogan=page.banner_slogan color=page.banner_color %}
{% endblock %}
