{% extends "base.html" %}

{% block title %}
Sitemap{{ block.super }}
{% endblock %}

{% block middle_col %}
<div class="element inhalt">
  <h1>Sitemap</h1>
</div>

<div class="sitemap">
  {% for node in sitemap %}
    {% if node.name == "Home" %}
      <li class="{% if node.active %} active{% endif %}"><a href="{{ node.url }}" class="glyphicon glyphicon-home"></a></li>
    {% else %}
      <li class="{% if node.active %} active{% endif %}"><a href="{{ node.url }}">{{ node.name }}</a>
        {% if node.sublist %}
        <ul>
          {% for subnode in node.sublist %}
          <li class="element menuepunkte {% if subnode.active %} active{% endif %}">
            <div>
                <a href="{{ subnode.url }}">{{ subnode.name }}</a>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
