{% extends "base.html" %}

{% load static %}


{% block title %}
 Standorte
 {% for node in standorte.all %}
  {{node.name|cut:"Standort "}}
 {% endfor %}{{ block.super }}
{% endblock %}

{% block middle_col %}


{% for node in location_list %}
  <div class="location">
          <div class="location_info">
            <h3>activjob GmbH
              <br />
              {{node.name}}
            </h3>

            <p class="bodytext">
              {{node.street}}
              <br />
              {{node.city}}
            </p>

            <p>
              Telefon: {{node.phone}}
              <br />
              Fax: {{node.fax}}
              <br />
              E-Mail: <a href="mailto:{{node.mail}}">{{node.mail}}</a>
            </p>
          </div>

          <div class="location_map">
            <iframe frameborder="0"
            marginheight="0" marginwidth="0"
            scrolling="no" src="{{node.gmapsIframeHref}}"
            width="100%" height="200px"></iframe>
          </div>
  </div>

  <div class="limiter"></div>
{% endfor %}


{% endblock %}
