{% extends "base.html" %}

{% load static %}
{% load bootstrap3 %}

{% block title %}
Aktuelle Jobs und weitere Stellenangebote{{ block.super }}
{% endblock %}

{% block middle_col %}


  <h1>Stellenmarkt</h1>


    <form action="{% url 'stellenmarkt' %}" method="get">
    {% bootstrap_form searchform layout="inline" %}
      <div class="submit formcontent col-sm-12" style="margin-top:10px">
        <input type="submit" name="submit"
        class="savebutton form-control" value="Suchen" />
      </div>
    </form>


<div id="jobs_table" style="margin-top:10px">
{% include "web/pages/stellenmarkt/stellenmarkt-table.html" %}
</div>


{% endblock %}
