{% extends "base.html" %}

{% load static %}

{% block navigation_top %}
  {% include "web/nav/nav.html" with active_tab='tab4' %}
{% endblock %}

{% block middle_col %}


<div class="element mainelement DatenListe">
  <h1>Stellenmarkt</h1>

  <div class="userFilter">
    <form action="http://www.activ-job.com/stellenmarkt.html" method=
    "post" enctype="multipart/form-data">
      <div>
        <div class=
        "formcontent filterOwnStichwort" id=
        "nr1">
          <span class=
          "fieldname">Stichwort:</span><input type="text"
          name="filterOwnStichwort" value=
          "" />
        </div>

        <div class="formcontent filterid" id=
        "nr2">
          <span class=
          "fieldname">Kennziffer:</span><input type="text"
          name="filterid" value=
          "" />
        </div>

        <div class=
        "formcontent filterKategorie" id="nr3">
          <span class=
          "fieldname">Kategorie:</span><select name="filterKategorie"><option value="0">Alle</option><option value="Bahndienstleistungen">Bahndienstleistungen</option><option value="Bau, Handwerk und Produktion">Bau, Handwerk und Produktion</option><option value="Facilitymanagement">Facilitymanagement</option><option value="Finanzen und Controlling">Finanzen und Controlling</option><option value="Gesundheitswesen">Gesundheitswesen</option><option value="Handel">Handel</option><option value="Hotel- und Gastgewerbe">Hotel- und Gastgewerbe</option><option value="Ingenieurwesen">Ingenieurwesen</option><option value="Office und Bürowesen">Office und Bürowesen</option><option value="Personalwesen">Personalwesen</option><option value="Sonstiges">Sonstiges</option><option value="Spedition und Logistik">Spedition und Logistik</option><option value="Vertrieb und Marketing">Vertrieb und Marketing</option><option value="Wach- und Sicherheitsgewerbe">Wach- und Sicherheitsgewerbe</option></select>
        </div>

        <div class=
        "formcontent filterOwnEinsatzort" id=
        "nr4">
          <span class=
          "fieldname">Einsatzort:</span><input type="text"
          name="filterOwnEinsatzort" value=
          "" />
        </div>

        <div class=
        "formcontent filterOwnBundesland" id=
        "nr5">
          <span class=
          "fieldname">Bundesland:</span>
<select name="filterOwnBundesland"><option value="Alle">Alle</option><option value="Baden-Württemberg">Baden-Württemberg</option><option value="Bayern">Bayern</option><option value="Berlin">Berlin</option><option value="Brandenburg">Brandenburg</option><option value="Bremen">Bremen</option><option value="Hamburg">Hamburg</option><option value="Hessen">Hessen</option><option value="Mecklenburg-Vorpommern">Mecklenburg-Vorpommern</option><option value="Niedersachsen">Niedersachsen</option><option value="Nordrhein-Westfalen">Nordrhein-Westfalen</option><option value="Rheinland-Pfalz">Rheinland-Pfalz</option><option value="Saarland">Saarland</option><option value="Sachsen">Sachsen</option><option value="Sachsen-Anhalt">Sachsen-Anhalt</option><option value="Schleswig-Holstein">Schleswig-Holstein</option><option value="Thüringen">Thüringen</option>
</select>
        </div>

        <div class=
        "formcontent filterOwnBereich" id=
        "nr6">
          <span class=
          "fieldname">Bereich:</span><select name="filterOwnBereich"><option value="0" selected="selected">Alle</option><option value="1">Arbeitsvermittlung</option><option value="2">Personalvermittlung</option><option value="3">Arbeitnehmerüberlassung</option></select>
        </div>
      </div>

      <div class="submit">
        <input type="submit" name="submit"
        class="savebutton" value="Suchen" />
      </div>
    </form>
  </div>

  <div class="pages" style="clear: both; text-align: right;">
    Seiten:  <span class=
    "seiteact">1</span>
    <a class="seite" href="stellenmarkt-Seite2.html">2</a> <a class="seite" href="stellenmarkt-Seite3.html">3</a> <a class="seite" href="stellenmarkt-Seite4.html">4</a> <a class="seite" href="stellenmarkt-Seite5.html">5</a> <a class="seite" href="stellenmarkt-Seite6.html">6</a> <a class="seite" href="stellenmarkt-Seite7.html">7</a> <a class="seite" href="stellenmarkt-Seite8.html">8</a> <a class="seite" href="stellenmarkt-Seite9.html">9</a> <a class="seite" href="stellenmarkt-Seite10.html">10</a> <a class="seite" href="stellenmarkt-Seite11.html">11</a> <a class="seite" href="stellenmarkt-Seite12.html">12</a> <a class="seite" href="stellenmarkt-Seite13.html">13</a> <a class="seite" href="stellenmarkt-Seite14.html">14</a> <a class="seite" href="stellenmarkt-Seite15.html">15</a> <a class="seite" href="stellenmarkt-Seite16.html">16</a> <a class="seite" href="stellenmarkt-Seite17.html">17</a> <a class="seite" href="stellenmarkt-Seite2.html">»»»</a>
  </div>

  <table class="sort"><tr>
<th class="col1">Stelle</th><th class="col2">Einsatzort</th></tr><tr><td class="col1"><a href="Jobs/stellenmarkt-1004952_Schlosser_Komponentenaufarbeitung.html">Schlosser Komponentenaufarbeitung (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004952_Schlosser_Komponentenaufarbeitung.html">Fulda</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004951_Lackierer.html">Lackierer  (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004951_Lackierer.html">Paderborn</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004910_Buchhalter.html">Buchhalter (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004910_Buchhalter.html">Frankfurt a. Main</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-13726_Sicherheitsfachkraft.html">Sicherheitsfachkraft (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-13726_Sicherheitsfachkraft.html">Gera</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004716_Schlosser.html">Schlosser (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004716_Schlosser.html">Paderborn</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-13717_Mitarbeiter_fuer_die_Bewachung.html">Mitarbeiter für die Bewachung (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-13717_Mitarbeiter_fuer_die_Bewachung.html">Jena</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-13725_Museumsaufsicht_Empfangskraft.html">Museumsaufsicht / Empfangskraft (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-13725_Museumsaufsicht_Empfangskraft.html">Leipzig</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-13593_Museumsaufsicht_fuer_Quereinsteiger.html">Museumsaufsicht für Quereinsteiger (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-13593_Museumsaufsicht_fuer_Quereinsteiger.html">Dresden</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004971_CNC_Abkanter.html">CNC-Abkanter (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004971_CNC_Abkanter.html">Dresden</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-13723_Reinigungskraefte_m_w.html">Reinigungskräfte m/w (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-13723_Reinigungskraefte_m_w.html">Grimma</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004931_Servicetechniker_fuer_Hebezeuge.html">Servicetechniker für Hebezeuge (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004931_Servicetechniker_fuer_Hebezeuge.html">Chemnitz</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004932_Tischler.html">Tischler (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004932_Tischler.html">Nähe Wolkenstein</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004933_Metallbauer.html">Metallbauer (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004933_Metallbauer.html">Nähe Marienberg</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004922_Maschinenbediener_fuer_Biegemaschinen.html">Maschinenbediener für Biegemaschinen (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004922_Maschinenbediener_fuer_Biegemaschinen.html">Nähe Chemnitz</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004904_Disponent.html">Disponent (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004904_Disponent.html">Frankfurt am Main</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004905_Disponent.html">Disponent (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004905_Disponent.html">Regensburg</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004902_Disponent.html">Disponent (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004902_Disponent.html">Düsseldorf</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004885_CNC_Fraeser.html">CNC-Fräser (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004885_CNC_Fraeser.html">Chemnitz</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004880_Disponent_weltweite_Seefracht.html">Disponent weltweite Seefracht (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004880_Disponent_weltweite_Seefracht.html">Leipzig</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004879_Berechnungsingenieur.html">Berechnungsingenieur (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004879_Berechnungsingenieur.html">Chemnitz</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004870_CNC_Fraeser.html">CNC-Fräser (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004870_CNC_Fraeser.html">Chemnitz</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004863_CNC_Dreher.html">CNC-Dreher (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004863_CNC_Dreher.html">Limbach-Oberfrohna</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004831_Industrieelektriker.html">Industrieelektriker (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004831_Industrieelektriker.html">Frankfurt a.M.</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004832_Maschinenschlosser.html">Maschinenschlosser (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004832_Maschinenschlosser.html">Limbach-Oberfrohna</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004833_Schleifer.html">Schleifer (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004833_Schleifer.html">Limbach-Oberfrohna</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004826_konventioneller_Dreher.html">konventioneller Dreher (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004826_konventioneller_Dreher.html">Freiberg</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004824_Schlosser_Schweisser.html">Schlosser/Schweißer (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004824_Schlosser_Schweisser.html">Nähe Marienberg</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004815_CNC_Fraeser.html">CNC-Fräser (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004815_CNC_Fraeser.html">Berlin</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004797_Mechatroniker.html">Mechatroniker  (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004797_Mechatroniker.html">Dresden - Montage bundesweit</a></td></tr>
<tr><td class="col1"><a href="Jobs/stellenmarkt-1004784_CNC_Fraeser_ohne_Programmierkenntnisse.html">CNC-Fräser ohne Programmierkenntnisse (m/w)</a></td><td class="col2"><a href="Jobs/stellenmarkt-1004784_CNC_Fraeser_ohne_Programmierkenntnisse.html">ca. 20 km südwestlich von Chemnitz</a></td></tr>
</table>

  <div class="pages" style="clear: both; text-align: right;">
    Seiten:  <span class=
    "seiteact">1</span>
    <a class="seite" href="stellenmarkt-Seite2.html">2</a> <a class="seite" href="stellenmarkt-Seite3.html">3</a> <a class="seite" href="stellenmarkt-Seite4.html">4</a> <a class="seite" href="stellenmarkt-Seite5.html">5</a> <a class="seite" href="stellenmarkt-Seite6.html">6</a> <a class="seite" href="stellenmarkt-Seite7.html">7</a> <a class="seite" href="stellenmarkt-Seite8.html">8</a> <a class="seite" href="stellenmarkt-Seite9.html">9</a> <a class="seite" href="stellenmarkt-Seite10.html">10</a> <a class="seite" href="stellenmarkt-Seite11.html">11</a> <a class="seite" href="stellenmarkt-Seite12.html">12</a> <a class="seite" href="stellenmarkt-Seite13.html">13</a> <a class="seite" href="stellenmarkt-Seite14.html">14</a> <a class="seite" href="stellenmarkt-Seite15.html">15</a> <a class="seite" href="stellenmarkt-Seite16.html">16</a> <a class="seite" href="stellenmarkt-Seite17.html">17</a> <a class="seite" href="stellenmarkt-Seite2.html">»»»</a>
  </div>
</div>


{% endblock %}

{% block left_col %}

{% include "web/nav/left_col_menu_applicant.html" with active_tab='left_tab18' %}

{% endblock %}
