{% extends "base.html" %}

{% load static %}


{% block title %}
 Personalvermittlung Arbeitnehmerüberlassung Arbeitsvermittlung Zeitarbeit {{ block.super }}
{% endblock %}

{% block middle_col %}


          <h3>Das Unternehmen</h3>

          <p>Herzlich Willkommen bei der activjob
          GmbH – Ihrem erfahrenen Dienstleister für
          alle Bereiche der modernen
          Personalarbeit.</p>

          <p>Mit unserem umfassenden Markt- und
          Branchen-Know-how bieten wir Unternehmen
          alle Services aus den Bereichen Personal-
          und Arbeitsvermittlung sowie
          Arbeitnehmerüberlassung an.</p>

          <p>Bewerbern stehen wir als kompetente
          Begleiter in den verschiedenen Phasen des
          Berufslebens mittels Stellenvermittlung,
          Karriereberatung und der Suche nach einem
          passenden Arbeitgeber zur Verfügung.</p>

          <p>Um den Bedürfnissen und Wünschen unserer
          Kunden gerecht zu werden, legen wir
          besonderen Wert auf eine vertrauensvolle
          und partnerschaftliche Zusammenarbeit.</p>

          <p>Von unseren Standorten in Dresden,
          Leipzig, Chemnitz und Bautzen aus
          vermitteln wir seit dem Jahr 2002
          bundesweit mehr als 500 Bewerber jährlich
          in Festanstellung. Regelmäßig halten wir
          etwa 150 Fachkräfte zum temporären Einsatz
          im Rahmen der Arbeitnehmerüberlassung
          bereit.</p>

          <p>Als Mitglied im <a href=
          "http://www.personaldienstleister.de/"
          target="_blank">Bundesarbeitgeberverband
          der Personaldienstleister</a> (BAP) ist die
          activjob GmbH tarifgebunden organisiert und
          wendet <a href=
          "http://www.personaldienstleister.de/"
          target="_blank">BAP</a>/DGB-Verträge an.
          Mit 1.852 Mitgliedsunternehmen ist der BAP
          als größter Zeitarbeitsverband
          flächendeckend in Deutschland
          organisiert.</p>

          <p>Zertifiziert nach:</p>

          <ul>
            <li><a href=
            "{% url '/Zertifikate/2015-10-19_activjob_GmbH_ISO9001.pdf' %}">
            ISO 9001:2008</a></li>

            <li><a href=
            "{% url '/Zertifikate/2012-10-05_activjob_GmbH_AZAV.pdf' %}">
            AZAV</a></li>

            <li><a href=
            "{% url '/Zertifikate/2015-05-26_activjob_GmbH_CSR.pdf' %}">
            „Geprüfte Nachhaltigkeit“ 2015</a></li>
          </ul>


{% endblock %}
