{% extends "base.html" %}

{% load static %}

{% block title %}
{{ vorteile.title }}{{ block.super }}
{% endblock %}

{% block middle_col %}

<h3>{{ vorteile.subtitle }}</h3>
</br>
<div>{{ vorteile.text }}</div>
</br>
<strong>Ihre Vorteile im
Überblick:</strong>

<div class="inhalt further_right_list">
  <ul>
    {% for node in vorteile.pro_set.all %}
      <li>{{ node.text }}</li>
    {% endfor %}
  </ul>
</div>

{% endblock %}

{% block banner %}
    {% include "web/banner/banner.html" with slogan=vorteile.banner_slogan color=vorteile.banner_color %}
{% endblock %}
