{% extends "base.html" %}

{% load static %}

{% block navigation_top %}
  {% include "web/nav/nav.html" with active_tab='tab3' %}
{% endblock %}

{% block middle_col %}



<h3>Nicht alle Branchen – aber jede Branche
mit Expertise</h3>

<p><br />
In den folgenden Bereichen können wir Sie im
Rahmen der&nbsp; Arbeitnehmerüberlassung
effektiv unterstützen:*</p>

<p style="margin-left: 40px;"><strong>-
qualifizierte Facharbeiter aus allen
gewerblichen</strong><br />
<strong>&nbsp;
Tätigkeitsfeldern</strong>:</p>

<ul>
  <li style="margin-left: 80px;">Schlosser
  und Schweißer</li>

  <li style="margin-left: 80px;">
  Installateure HLS</li>

  <li style="margin-left: 80px;">Elektriker
  und Energieelektroniker</li>

  <li style="margin-left: 80px;">Industrie-
  und Anlagenmechaniker</li>

  <li style="margin-left: 80px;">Tischler und
  Fenstermonteure</li>

  <li style="margin-left: 80px;">
  CNC-Fachkräfte</li>

  <li style="margin-left: 80px;">
  Mechatroniker</li>

  <li style="margin-left: 80px;">
  Industrielackierer</li>
</ul>

<p style="margin-left: 40px;"><br />
<strong>- erfahrene Techniker und Ingenieure
aus den Fachgebieten:</strong></p>

<ul>
  <li style="margin-left: 80px;">
  Maschinenbau, Automatisierungs-, Energie-
  und Anlagentechnik</li>

  <li style="margin-left: 80px;">
  Elektrotechnik/Elektronik,
  Nachrichtentechnik</li>

  <li style="margin-left: 80px;">
  Fahrzeugtechnik, Konstruktion,
  Entwicklung</li>

  <li style="margin-left: 80px;">Feinwerk-,
  Verfahrens- und Umwelttechnik</li>

  <li style="margin-left: 80px;">Vermessungs-
  und Bauwesen</li>
</ul>

<p style="margin-left: 40px;"><br />
<strong>- gut ausgebildetes kaufmännische
Personal aus den</strong>
<strong>Funktionsbereichen:</strong></p>

<ul>
  <li style="margin-left: 80px;">Office und
  Sachbearbeitung</li>

  <li style="margin-left: 80px;">Finanzen und
  Controlling</li>

  <li style="margin-left: 80px;">Vertrieb und
  Marketing</li>

  <li style="margin-left: 80px;">
  Personal</li>
</ul>

<p style="margin-left: 40px;"><br />
<strong>- erfahrene Dienstleistungsfachkräfte
aus den Bereichen:</strong></p>

<ul>
  <li style="margin-left: 80px;">
  Call-Center</li>

  <li style="margin-left: 80px;">
  Kundenbetreuung</li>
</ul>

<p>&nbsp;</p>

<p>* Die verwendete männliche Bezeichnung
umfasst weibliche und männliche Personen. Die
undifferenzierte Bezeichnung dient allein der
besseren Lesbarkeit.</p>

<p>&nbsp;</p>

{% endblock %}

{% block left_col %}

{% include "web/nav/left_col_menu_business.html" with active_tab='left_tab2' %}

{% endblock %}

{% block banner %}
<div class="green col-md-9">
<div id="banner">
    <h2>„Unsere Mitarbeiter sind spezialisierte
    Fachkräfte aus Ihrer Region. So kann jede
    einzelne Stelle optimal besetzt werden.“</h2>
</div>
</div>
{% endblock %}
