{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block title %}{{ job }}, {{ job.location }}{{ block.super }}{% endblock %}

{% block left_col %}
    <div class="col-sm-7 col-md-7 col-lg-push-4 col-md-push-4 col-sm-push-4 ">
        <h1>{{ job }}</h1>

        <dl>
            <dt>Arbeitsort:</dt>
            <dd>{{ job.location }}</dd>
            <dt>Kennziffer:</dt>
            <dd>{{ job.id }}</dd>
        </dl>


        <h4>Unternehmen</h4>

        <div> {{ job.company.description|safe }} </div>


        <h4>Ihre Aufgaben</h4>

        <div> {{ job.description|safe }} </div>


        <h4>Ihr Profil</h4>

        <div> {{ job.profile|safe }} </div>


        <h4>Ihre Perspektive</h4>

        <div> {{ job.perspective|safe }} </div>

        <div class="well hidden-xs">
            <a href="{% url 'stellenmarkt' %}">{% bootstrap_icon 'chevron-left' %}zurück zur Stellenliste</a>
        </div>
    </div>
{% endblock %}

{% block right_col %}
    <div class="col-sm-4 col-lg-pull-6 col-md-pull-7 col-sm-pull-7 ">
        <h2>Ansprechpartner</h2>

        <h4><a href="{% url 'berater_name' job.contact %}">{{ job.contact }}</a></h4>

        <div>
            <a href="mailto:{{ job.contact.mail }}">
            {% bootstrap_icon "envelope" %}
{{ job.contact.mail }}</a>
        </div>

        <div>
            <a href="tel:{{ job.contact.phone|cut:" " }}">
            {% bootstrap_icon "phone" %}
{{ job.contact.phone }}</a>
        </div>

        <div>
            <a href="{% url 'berater_name' job.contact %}">
                <img
                    alt="{{ job.contact }}"
                    src="{% static 'jobs/Ansprechpartner/' %}{{ job.contact.img }}"
                    class="img-responsive"
                >
            </a>
        </div>
    </div>
{% endblock %}
