{% load static %}

<div class="col-md-6">
    <div class="row">

        {% for primary_node in menu %}

            {% if primary_node.node and primary_node.node.items %}
                <div class="col-sm-4">

                    <h3>{{ primary_node.name|capfirst }}</h3>

                    <ul class="list-unstyled">

                        {% for _, secondary_node in primary_node.node.items %}
                            <li>
                                <a href="{{ secondary_node.href }}"
                                    >{{ secondary_node.name|capfirst }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
            {% endif %}

        {% endfor %}

    </div> {# row #}
</div> {# col-md-6 #}



<div class="col-md-6">
    <div class="row">

        <div class="col-sm-4">
            <h3>Stellenmarkt</h3>
            <ul class="list-unstyled">
                <li>
                    <a href="/Jobs/Jobs.xml">
                        <img class="rss_icon" alt="Stellenmarkt RSS Feed"
                            src="{% static 'web/images/rss.jpeg' %}"
                        >
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4 col-md-offset-4">
            <h3>Zertifizierungen</h3>
            <ul class="list-unstyled list-inline">
                <li>
                    <a href=
                        "https://www.activ-job.com/dateien/Zertifikate/2015-10-19_activjob_GmbH_ISO9001.pdf"
                    >
                        <img
                            alt="ISO 9001:2008"
                            src="{% static 'web/images/iso_ze.png' %}"
                            title="Siegel ISO 9001:2008"
                            class="img-responsive center-block"
                        >
                    </a>
                </li>

                <li>

                    <a href=
                    "https://www.activ-job.com/dateien/Zertifikate/2015-05-26_activjob_GmbH_CSR.pdf">
                        <img
                            alt="Prüfsiegel Gesicherte Nachhaltigkeit 2015"
                            src= "{% static 'web/images/dino_ze.png' %}"
                            title="Prüfsiegel Gesicherte Nachhaltigkeit 2015"
                            class="img-responsive center-block"
                            style="max-width: 80px;"
                        >
                    </a>
                </li>
            </ul>
        </div>

    </div> {# row #}
</div> {# col-md-6 #}
