{% load static %}

<div class="col col-xs-12 slide">

    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <blockquote>
                „{{ contact.quote }}“

                <footer>
                    <a href="{% url 'berater_name' contact %}">
                        {{ contact }}{% if contact.title %},
                        {{ contact.title }}{% endif %}
                    </a>
                </footer>
            </blockquote>
        </div>

        <div class="col col-sm-3">
            <img
                alt="{{ contact }}"
                class="img-responsive"
                src="{% static 'jobs/Ansprechpartner_full_body/' %}{{ contact.img }}"
            >
        </div>
    </div>

</div>
