{% load bootstrap3 %}

<div>
    <address>
        <strong>ZUKUNFT|ELITE.</strong><br>
        eine Marke der activjob GmbH<br>
        Reichenbachstraße 55<br>
        01069 Dresden
    </address>
</div>

<p>
    <a href="tel:+493512502088-550">
    {% bootstrap_icon "phone" %}
    +49 351 2502088-550
    </a><br>
    {% bootstrap_icon "print" %}
    +49 351 2502088-6
</p>

<p>
<a href="http://www.zukunft-elite-de">
    {% bootstrap_icon "globe" %}
    www.zukunft-elite.de</a><br>
    <a href="mailto:info@zukunft-elite.de">
    {% bootstrap_icon "envelope" %}
    info@zukunft-elite.de
    </a>
</p>
